.animate {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes slidein {
  from {
    margin-top: 50%;
  }

  to {
    margin-top: 0%;
  }
}


@keyframes fadein {
  from {
   opacity: 0;
  }

  to {
   opacity: 1;
  }
}


@keyframes fadeinout {
  0% {
   opacity: 0;
  }

  50% {
   opacity: 1;
  }

  100% {
   opacity: 0;
  }
}

@keyframes fadeout {
  from {
   opacity: 1;
  }

  to {
   opacity: 0;
  }
}