.slimScrollBar {
  display: block !important;
}

.bubble-container {
  width: 100%;
  margin-bottom: 30px;
  display: block;
  &:nth-child(2) {
    margin-top: 45px;
  }
}

.bubble-speaker {
  width: 138px;
  display: inline-block;
  vertical-align: top;
  @media screen and (max-width: 568px) {
    width: 80px;
  }
}

.bubble-right,
.bubble-left {
  position: relative;
  display: inline-block;
  max-width: 250px;
  line-height: 130%;
  padding: 10px 18px;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #333;
  font-size: 18px;
  text-align: left;
  min-height: 50px;
  @media screen and (max-width: 568px) {
    font-size: 15px;
    max-width: 150px;
  }
}

.bubble-right {
  margin-left: 20px;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: transparent #FFFFFF;
    border-color: transparent rgba(255, 255, 255, 0.3);
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 30px;
  }
}

.bubble-left {
  margin-right: 20px;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 0 15px;
    border-color: transparent #FFFFFF;
    border-color: transparent rgba(255, 255, 255, 0.3);
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 30px;
  }
}