/*  START Form  */
/*..............................................................................*/
#form {
  display: block;
  width: 280px;
  /*margin: 10px 5px 0;*/
  margin: 0 auto;
  height: 210px;
  position: relative;
  /*z-index: 6;*/
  border: 0;
  ul {
    list-style: none;
    margin-bottom: 20px;
  }
  span {
    font-size: 12px;
    padding-bottom: 10px;
    display: inline-block;
  }
  .required { text-align: right; }
}

#form-wrap {
  padding-top: 20px;
  // Target Samsung devices
  @media screen and (device-width: 360px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 3) {
      height: 600px;
  }
  @media (max-device-width: 1280px) and (orientation: landscape) and (min-resolution: 169dpi) {
      height: 1000px;
  }
  h2 {
    font-size:33px ;
    max-width: 720px;
    margin-top: 30px;
    @media screen and (max-width: 568px) {
      font-size: 19px;
    }
  }
  p {
    top: 0;
    max-width: 820px;
    span { font-style: italic; }
    &:nth-child(3) { margin-bottom: 3px; }
  }

}

/*  Form Page Animation  */

#form-animation {
  background: url('../images/form-bg.jpg') top center no-repeat #4cb4bb;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}

/* Form Fields */

label.css-label {
  background-size: 30px 60px;
  background-image: url(https://www.caasco.com/~/media/OM/murphys-game/images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.css-label { text-align: left; }
.field {
  display: block;
  width: 270px;
  position: relative;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 2px 3px 4px;
  line-height: 16px;
  font-size: 12px;
}
.field label {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 0 3px 0 10px;
  font-size: 11px;
  color: #69a9ab !important;
  background: #e8e8e8;
  text-align: left;
}
.field input, .field select {
  border: none !important;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  font-size: 16px;
  background-color: #fff;
  color: #5f5f5f;
  box-sizing: border-box;
  -webkit-appearance: none;
}
li#check {
  font-size: 12px;
  margin: 7px 0 18px 0;
}
.field input { margin-top: 3px; }
.field select { color: #fff; }
/*
  Show label instead of placeholder
*/
.field.show-label {
  height: 40px;
  border-bottom-width: 0;
}
.field.show-label input, .field.show-label select { height: 28px }
.field.show-label input { margin-top: 0; }
.field.show-label label { max-height: 15px; }

/* Hide placeholder onfocus for safari */
.field.show-label input[placeholder]::-webkit-input-placeholder {
 opacity: 0;
}
/*
  Animations
*/
.field {
  transition-property: height, border-width;
  -webkit-transition-property: height, border-width;
  -moz-transition-property: height, border-width;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
}
.field input, .field select {
  transition: height 0.3s ease-in;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
}
.field label {
  transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in;
}
.field input[placeholder]::-webkit-input-placeholder {
 transition: opacity 0.3s ease-in;
 -webkit-transition: opacity 0.3s ease-in;
 -moz-transition: opacity 0.3s ease-in;
}
form.IE-8 { width: 600px; }
form.IE-8 .fname, .lname { width: 250px; }
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
  padding-left: 35px;
  height: 30px;
  display: inline-block;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 12px;
  vertical-align: top;
  cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk { background-position: 0 -30px; }
label.css-label {
  background-size: 30px 60px;
  background-image: url(https://www.caasco.com/~/media/OM/murphys-game/images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.linkButton {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #388E32;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 40px 0 30px 0;
  padding: 15px 0;
  text-decoration: none;
  width: 280px;

}
  .linkButton:hover {
    background-color: #50C548;
    color: #fff;
   }
.disabled {
  cursor: not-allowed;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.disabled:hover { background-color: #388e32 !important; }
#send-value { display: none; }


/*  END Form   */
/*..............................................................................*/