#gameContainer.ie10 {
  h1 {
    font-size: 70px;
    top: 25px !important;
    left:-5px !important;
    letter-spacing: -1px;
  }
  h3 { margin-top: 270px !important; }
  .gameCloseBtn { top: -560px !important; }
}