 /* simple */
      $cardsize : 83px;
      $cardsizeMobile : 55px;

    .flip-container {
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      -ms-perspective: 1000;
      perspective: 1000;

      -ms-transform: perspective(1000px);
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      display: block;
      float: left;
      position: relative;
      margin: 3px;
    }

    .flip-container.toBack .back, .flip-container.toBack .back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }

    .flip-container.toBack .front, .flip-container.toBack .front {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }


    .flip-container{
      width: $cardsize;
      height: $cardsize;
      margin: 10px;

      @media screen and (max-width: 568px) {
        width: $cardsizeMobile;
        height: $cardsizeMobile;
        margin:7px;
      }
    }

    .flipper {
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 0.6s;

      -moz-transition: 0.6s;
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;

      transition: 0.6s;
      transform-style: preserve-3d;

      position: relative;
    }

    .front, .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;

        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        -webkit-transform: rotateY(0deg);

        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;
        -moz-transform: rotateY(0deg);

        -o-transition: 0.6s;
        -o-transform-style: preserve-3d;
        -o-transform: rotateY(0deg);

        -ms-transition: 0.6s;
        -ms-transform-style: preserve-3d;
        -ms-transform: rotateY(0deg);

        transition: 0.6s;
        transform-style: preserve-3d;
        transform: rotateY(0deg);

        position: absolute;
        top: 0;
        left: 0;
      }

    .fnb {
      border-radius: 50%;
      border:3px solid #76b6c1;
      width: $cardsize;
      height: $cardsize;

      @media screen and (max-width: 568px) {
        width: $cardsizeMobile;
        height: $cardsizeMobile;
      }
    }

    .front {
      -webkit-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
      background: lightgreen;
      background:url(../images/minigame/card-cover.png) no-repeat center/100%;
      @extend .fnb;
      z-index: 2;
    }

    .back {
      background: lightblue;
      @extend .fnb;
      -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }