#mini-game .slide {
  width: 100%;
  min-width: 320px;

}

#gameContainer {
  // width: 576px;
  max-width: 576px;
  min-width: 320px;
  margin: -10px auto 0;

  ul { max-width: 35%; }

  @media screen and (max-width: 568px) {
    margin-top: 20px;
    ul {
      max-width: 45%;
      li {
        font-size: 16px;
      }
    }
  }

  .gameClose {
    background:url('/~/media/OM/murphys-game/ep4/images/minigame/close.png') center/100% no-repeat;
    position: relative;
    height: 46px;
    width: 46px;
    top: -630px;
    left: 520px;
    z-index: 100;
    cursor: pointer;
      @media screen and (max-width: 568px) {
        height: 38px;
        width: 38px;
        top: -380px;
        left: 15px;
        float: right;
        margin-right: 4%;
      }
  }

  .gameCopy {
    h2 { color: #00338d; }
    p {color: #333;}
  }

  #gameTimer {
    position:relative;
    z-index:30;
    top:-30px;
    max-width:259px;
    height: 80px;
    margin: 0 auto;
    background:url(/~/media/OM/murphys-game/ep4/images/minigame/time.png) center/100% no-repeat;

    text-align: center;
    font-size: 3.5rem;
    padding-top: 18px;
    font-weight: bold;
    color: #056f78;
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      // chrome safari fix
      font-size: 57.2px;
    }

    @media screen and (max-width: 568px) {
      top: 37px;
      max-width: 180px;
    }
  }

  .gameScreen {
    display:block;
    position: relative;
    height: 677px;
  }
  #gameStartScreen {
    @extend .gameScreen;
    z-index: 10;
    background:url(/~/media/OM/murphys-game/ep4/images/minigame/bg-start.png) center/100% no-repeat;
    padding-top:50px;
    h1 {
      font: normal 98px'Yellowtail', cursive;
      color:#fff;
      position: relative;
      left: -28px;
      top: 20px;
      transform: rotateZ(-10deg);
      margin: 0 auto;
      text-align: center;
    }
    h3 {
      color: #000;
      margin: 225px auto 0;
      font-size: 24px;
      text-align: center;
      max-width: 435px;
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        // chrome safari fix
        margin: 205px auto 0;
      }
    }
    .cta {
      max-width: 440px;
      margin: 0 auto;
      &:nth-child(3) {
        margin: 20px auto -18px !important;
        // @media screen and (-webkit-min-device-pixel-ratio:0) {
        //   // chrome safari fix
        //   margin: 10px auto -18px !important;
        // }
      }
      ul {
        min-width: 150px;
        li {
          background-color:#21abcb; color:#fff;
          &:hover { background-color:#fff; color:#21abcb; }
        }
      }
    }

    .gameCloseBtn {
      @extend .gameClose;
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        // chrome safari fix
        top: -590px;
        @media screen and (max-width: 568px) {
          top:-388px;
        }
      }
    }

    @media screen and (max-width: 568px) {
      background-size: 100% 400px;
      margin: -180px 4%;
      min-width: 300px;

      h1 {
        font: normal 2.48rem 'Yellowtail', cursive;
        margin: 123px 0 0 20px;
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          // chrome safari fix
          font: normal 48px 'Yellowtail', cursive;
        }
      }
      h3 {
        margin: 160px auto 0;
        font-size: 0.75rem;
        max-width: 271px;
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          // chrome safari fix
          font-size: 15px;
          margin: 143px auto 0;
        }
      }
    }

  }
  #gamePlayScreen {
    display: none;
    @extend .gameScreen;
    z-index: 5;
    background:url(/~/media/OM/murphys-game/ep4/images/minigame/bg-game.png) center/100% no-repeat;
    p {
      color: #000;
      font-size: 1rem;
      line-height: 130%;
      max-width: 450px;
      margin:-5px auto 20px;
    }
    @media screen and (max-width: 568px) {
      background-size: 100% 500px;
      margin: -90px 4%;
      min-width: 300px;
      p {
        max-width: 250px;
        margin:30px auto 10px;
      }
    }
    .gameCloseBtn {
      @extend .gameClose;
      top: -567px;
      @media screen and (max-width: 568px) {
        top:-430px;
      }
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        // chrome safari fix
        top: -580px;
        // @media screen and (max-width: 568px) {
        //   top:-388px;
        // }
      }
    }

    .gameStartGameBtn {
      position:relative;
      z-index:30;
      bottom:0;
      max-width:200px;
      height: 80px;
      margin: 0 auto;
      background:url(/~/media/OM/murphys-game/ep4/images/minigame/time.png) top/100% no-repeat;

      text-align: center;
      font-size: 2.4rem;
      padding-top: 10px;
      font-weight: bold;
      color: #056f78;
      cursor: pointer;
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        // chrome safari fix
          bottom:25px;
          font-size: 37px;
      }
      @media screen and (max-width: 568px) {
        font-size: 1.7rem;
        top: 20px;
        max-width: 150px;
        @media screen and (-webkit-min-device-pixel-ratio:0) {
        // chrome safari fix
          font-size: 27px;
        }
      }
    }
    @media screen and (max-width: 568px) {
      #gameTime {
        position:relative;
        font-size:2.3rem;
        top:10px;

        @media screen and (-webkit-min-device-pixel-ratio:0) {
          font-size:41px;
        }
      }
    }
  }
  #gameView {
    width:420px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    br {
      clear:both;
      height: 0;
    }

    @media screen and (max-width: 568px) {
      width:280px;
    }
    // padding: 10px;

    .flip-container-hide {
      opacity: 0.5;
      cursor: pointer;
    }
    //firefox only
    .flip-container-hide-ff {
      opacity: 1;
      .front {
        background:url(../images/minigame/card-cover-disabled.png) no-repeat center/100%;
      }
    }
    .gameMessageContainer, .gameWinContainer, .gameLoseContainer {
      position: absolute;
      overflow: visible;
      z-index: 30;
      height: 221px;
      width: 88%;
      top: 23%;
      left:6%;
      @media screen and (max-width: 568px) {
        top: 15%;
        height: 150px;
      }
      .col {
        max-width: 70%;
        ul { max-width: 70%; }
        @media screen and (max-width: 568px) {
          ul { max-width: 90%; }
        }
      }
      .matchName {
        display: block;
        // position: relative;
        z-index: 30;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        color: #fff;
        padding-left:15px;
        @media screen and (max-width: 568px) {
          font-size: 16px;
        }

        &.slidefadeinout {
          animation-duration: 1s, 5s;
          animation-name: slidein, fadeinout;
        }

        &.slidefadein {
          animation-duration: 1s, 2.5s;
          animation-name: slidein, fadein;
        }

      }
      .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        background-color:#fff;
        border-radius: 10px;

        &.fadeinout {
          animation-duration: 5s;
          animation-name: fadeinout;
        }

        &.slidefadein {
          animation-duration: 1s;
          animation-name: fadein;
        }

      }

      .cta {
        ul {
          li {
            width:180px;
            margin:0 15%;
            @media screen and (max-width: 568px) {
              width:120px;
              margin:10px 10%;
            }
          }
        }
      }
    } //game containers

    .gameOverlayBG {
      background-image: url(/~/media/OM/murphys-game/ep4/images/minigame/incorrect.png);
      background-repeat: no-repeat;
      background-position:120% -30px;
      @media screen and (max-width: 568px) {
        background-size:60%;
      }
    }

    .gameMessageContainer {
      span {
          max-width: 200px;
          position: absolute;
          left:5%;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          @media screen and (max-width: 568px) {
            left:0;
          }
        }
      .overlay {
        background-color:rgba(62, 147, 2, 0.9);
        background-image: url(/~/media/OM/murphys-game/ep4/images/minigame/correct.png);
        @extend .gameOverlayBG;
      }
    }

    .gameLoseContainer {
      .matchName {
        position:relative;
        top:0;
        margin:32px auto 15px;
        max-width: 50%;
        @media screen and (max-width: 568px) {
          max-width: 100px;
          margin:25px auto 5px;
        }
      }
      .overlay {
        background-color:rgb(205, 40, 30);
        background-image: url(/~/media/OM/murphys-game/ep4/images/minigame/incorrect.png);
        @extend .gameOverlayBG;

      }
      .cta ul li {
        color:#cd281e;
        border:3px solid #fff;
        &:hover {
          background-color:#cd281e;
          color:#fff;
        }
      }
    } // LoseContainer
    .gameWinContainer {

      .matchName {
        position: relative;
        max-width: 200px;
        margin: 30px auto 10px;
        @media screen and (max-width: 568px) {
          max-width: 150px;
          margin: 12px auto 10px;
        }
      }
      .overlay {
        background-color:rgb(247, 142, 7);
        background-image: url(/~/media/OM/murphys-game/ep4/images/minigame/win.png);
        @extend .gameOverlayBG;
      }
      .cta ul li {
        border:3px solid #fff;
        color:rgb(247, 142, 7);

        &:hover {
          background-color:rgb(247, 142, 7);
          color:#fff;
        }
      }

    } // WinContainer

  } // end #gameView

} // #gameContainer

#gameContinueBtn {
  li {
    width: 200px;
    margin-left: 10%;
  }
}