

/* START General */
/*..............................................................................*/

/*...START Desktop...*/

.mq-desktop { display: block; }
.mq-tablet, .mq-mobile, #fullpage { display: none; }


/*  Rotate Warning  */
#warning-rotate {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #bdbdc2;
  padding-top: 50px;
  text-align: center;
  position: fixed;
}
#warning-rotate img {
  width: 150px;
  margin-bottom: 15px;
}
#warning-rotate p {
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  color: #000000;
}

/*  Top (CAA SCO logo)  */
.section .caa-logo {
  height: 65px;
  width: 150px;
  margin-top: 20px;
  z-index: 1000;
}


/*text*/
.copy, .answer p {
  max-width: 45%;
}

.copy {
  margin: 30px auto 0;
  display: block;
  position: relative;
  min-width: 320px;
}

.sceneDescription-copy {
  font-family: 'Gloria Hallelujah', cursive;

  /*border: 2px solid #ccc; */
  background-color: #fffecc;
  color: #666;
  display: inline-block;
  font-size: 18px;
  margin:20px 0 15px -350px;
  padding: 3px 15px;
  position: relative;
  text-shadow:none;
  z-index: 3;
}

.dark,  .dark .section p, .dark p, .dark h2  {
  color: #4D4D4D;
  //text-shadow:1px 1px 1px rgba(255, 255, 255, 1) !important;
}

/*  Buttons  */
.cta {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color:#fff;
}
.cta div {
  font-size: 18px !important;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
}
.cta img { width: 70px; }
img.go-next {
  width: 55px;
  cursor: pointer;
  margin-bottom: 5px; /* you can adjust the CTA vertical position changing this value */
  -webkit-transition: margin-bottom 0.2s ease-in-out;
  -moz-transition: margin-bottom 0.2s ease-in-out;
  -o-transition: margin-bottom 0.2s ease-in-out;
  transition: margin-bottom 0.2s ease-in-out;
}

/*  Formatting for rest of the pages / sections  */
.section { text-align: center;/*padding-top: 15px;*/ }
.section h1, .section h2, .section p, .section img {
  position: relative;
  font-size: 25px;
  z-index: 6;
}
.section h2 {
  font-size: 45px;
  margin: 0px auto 5px auto;
  padding: 0 15px; /* top: 70px;  -  used only if there's a top/header */
  font-weight: normal;
  // -webkit-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  // -moz-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  // text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
}
.section p {
  display: block;
  line-height: 30px;
  margin: 0px auto 15px auto;
  padding: 0 15px; /*   -  used only if there's a top/header */
  // -webkit-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  // -moz-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  // text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
}
.section img {

  display: inline-block;

}
.slide {
  position: relative;
  z-index: 9;
}




.js-none { display:none; }
/*...END Desktop...*/

/*...START tablet...*/
@media screen and (max-width: 1024px) {
  .copy, .answer p {
    max-width: 70%;
  }
}
/*...END tablet...*/

/*...START mobile...*/
@media screen and (max-width: 568px) {
  // .mq-mobile { display: block; }
  .animation-area {
    position: absolute;
    height: 100%;
    top: 0;
  }
  .section .caa-logo {
    height: 40px;
    width: 92px;
    margin-top: 10px;
  }


  .section h1, .section h2 { font-size: 20px; }
  .section p, .section li {
    font-size: 15px !important;
    line-height: 20px;
  }
  .copy {
    max-width: 100%;
  }
  .sceneDescription-copy {
    font-size: 11px;
    margin:20px 0 0 -120px;
  }
}

/*...END Mobile...*/