/*  questions formatting  */
.questions {
  text-align: center;
}
.questions ul {
  position: relative;
  z-index: 7;
  list-style: none;
  font-size: 30px;
  margin: 0 auto; /* you can adjust the Alternative Buttons vertical position changing this value */
  max-width: 515px;
  min-width: 300px;
}
.questions ul li {
  color:#65b32b;
  font-size: 25px;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 0;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  // -webkit-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  // -moz-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  // text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
}
.questions ul li:hover {
  color:#fff;
  background-color: #50C548;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}


/*  Answers */
.answer-container {
  overflow: hidden;
  color:#fff;
}
.answer-container.correct {
  background-color: #6dac35;
  height: 100%;
}
.answer-container.incorrect {
  background-color: #cf3939;
  height: 100%;
}
.correct .answer p, .incorrect .answer p {
  top: 0;
}
.incorrect .answer img, .correct .answer img {
  width: 320px;
  margin-top: 15px;
}


/*buttons*/
.cta.btn-answer {
  margin: 0;
  position: relative;
}
.cta.btn-answer img {
  width: 55px;
  padding-bottom: 20px;
}


@media screen and (max-width: 568px) {
  .answer p {
    max-width: 100%;
  }
  .questions ul {
    max-width: 100%;
  }
  .cta .correct, .cta .incorrect { margin-top: inherit; }
  .cta ul li { margin: 5px 20px; }
  .linkButton { margin-top: 28px; }

  .incorrect .answer img, .correct .answer img {
    width: 150px;
  }
}

