/*  Basic Reset and Base Styles */
/*..............................................................................*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent
}
sup { font-size: 50%; }
a { color: #fff; }
