


.caa-logo-730 {
  @media screen and (max-width: 730px) {
    height: 40px;
    width: 92px;
    position: relative;
    margin-top: 10px;
  }
}

// Intro

//// desktop
#intro {
  background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/grasslight.gif) top repeat !important;

  &.intro {

    .intro-bg-1 {
      width: 100%;
      height: 450px;
      margin: 0 auto;
      text-align: center;
      background: #53b5b2; /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    }

    .intro-bg-2 {
      background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/beach-water.gif) bottom repeat-x;
      height: 371px;
      width: 100%;
      text-align: center;
    }
    .intro-bg-center {
      width: 100%;
      height: 487px;
      margin: auto 0;
      position:relative;
      top:-78px;
      text-align: center;
    }

    .intro-title {
      width: 641px;
      height: 284px;
      margin: 0 auto;
      background: url(/~/media/OM/murphys-game/ep4/images/text/murphys-title.png) top no-repeat;
      position: relative;
      top: 105px;
      z-index: 100;
      color:#fff;
      & > div {
        font: normal 50px/18px 'Yellowtail', cursive;
        -webkit-text-shadow: 0px 5px  rgba(0,0,0,0.15);
        -moz-text-shadow: 0px 5px rgba(0,0,0,0.15);
        text-shadow: 0px 5px rgba(0,0,0,0.15);
        position: relative;
      }
        & .tag-1 {
          top: -35px;
          left: -250px;
        }
        & .tag-2 {
          top: 100px;
          left: 80px;
        }
    }

    // .questions ul li {
    //   background-color:#fff;
    //   color: #388E32
    // }

    .intro-char {
      margin-top: -290px;
      img {
        max-width: 567px;
        // width: 100%;
        // height: 510px;
         @media screen and (max-width: 568px) {
        //   height: 270px;
           width: 300px;
         }

      }
    }

    .cta.questions {
      position: relative;
      margin-top:25px;
    }
    .questions ul li:hover {
      background-color:#50C548;
      color: #fff;
    }
    ////END desktop

    //// mobile
    @media screen and (max-width: 568px) { /*wider max width for smoother transition on desktop*/
      /*bg*/
      .intro-bg-1 {
        width: 100%;
        height: 178px;
        background-size: 129px 200px;
        border-bottom: 3px solid #435d30;
        margin: 0 auto;
        text-align: center;
      }
      .intro-bg-2 {
        background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/beach-water.gif) bottom repeat-x;
        height: 417px;
        width: 100%;
        position: relative;
        background-size: 265px 83px;
        top:-220px;
        text-align: center;
      }
      .intro-bg-center {
        background-size: 221px 180px;
        width: 100%;
        height: 178px;
        margin: 0 auto;
        position: relative;
        top:202px;
        text-align: center;
      }
      /*.text.*/
      .intro-title {
        background-size: 278px 50px;
        width: 278px;
        height: 50px;
        margin: 0 auto;
        position: relative;
        top: 30px;

        & > div {
          font: normal 30px/18px 'Yellowtail', cursive;
          -webkit-text-shadow: 0px 2px  rgba(0,0,0,0.15);
          -moz-text-shadow: 0px 2px rgba(0,0,0,0.15);
          text-shadow: 0px 2px rgba(0,0,0,0.15);
          position: relative;
        }
        & .tag-1 {
          top: -25px;
          left: -57px;
        }
        & .tag-2 {
          top: 37px;
          left: 35px;
        }
      }

      .cta.questions { margin-top:15px; }

      /*characters*/
      .intro-char {
        margin: 0 auto;
        position: relative;
        top: -76px;
      }

      .copy {
        margin-top: -70px;
      }
    }
    //// mobile

  } /// end class intro

  .copy {
    max-width: 60%;
    p {
      font-size: 18px;
    line-height: 24px;
    }
  }

}
// END Intro
////////////////////////////////////////////////////



//Scene 1

#scene-1 {
  background: url(/~/media/OM/murphys-game/ep4/images/bg/city-scape-street.jpg) top repeat;
  .scene-1-bg-1 {
    background: url(/~/media/OM/murphys-game/ep4/images/bg/city-scape.jpg) top repeat-x;
    width: 100%;
    height: 400px;
    background-size: 1600px 400px;
    @media screen and (max-width: 568px) {
      height: 209px;
      background-size: 900px 218px;
      background-position:bottom;
    }
  }
  .scene-1-char {
    position: relative;
    margin-top:-85px;
    img {
      max-width:560px;
    }
    @media screen and (max-width: 568px) {
      margin-top:-57px;
      img {width: 300px;}
    }

  }
}

//END Scene 1
////////////////////////////////////////////////////

//Scene 2

#scene-2 {
  background: url(/~/media/OM/murphys-game/ep4/images/bg/grass.jpg) top repeat;
  .caa-logo {
    @extend .caa-logo-730;
  }
  @media screen and (max-width: 730px) {
    .copy {
      margin-top: 0;
    }
  }

  .scene-2 {
    &-char {
      position: relative;
      top:62px;
      @media screen and (max-width: 730px) {
        & img {
          display: block;
          height: 256px;
          position: relative;
          top:-36px;
        }
      }
    }
    &-bg-1 {
      min-width: 320px;
      background: url(/~/media/OM/murphys-game/ep4/images/bg/house-brick.jpg) top repeat-x;
      width: 100%;
      height: 579px;
      background-size: 1600px 579px;


      @media screen and (max-width: 730px) {
        height: 300px;
        background-size: 830px 300px;
        background-position:top;
      }
    } //bg-1

     &-bg-2 {
      min-width: 320px;

      [src*="sc-2.gif"] {
        display: inline-block;
        top: -40px;
        left: 3px;
        height: 494px;
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          // chrome safari fix
          top: -38px;
        }
        @media screen and (max-width: 730px) {
          height: 255px;
          background-position:top;
          top: -69px;
        }
      }
     }

  } //scene-2

  .corner-copy {
    display: inline-block;
    position: relative;
    z-index: 20;
    top:52px;
    left:-200px;
    padding:10px 15px;
    background-color: #ffc754;
    font-weight: bold;
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      // chrome safari fix
      top: 48px;
      left: -170px;
    }
    @media screen and (max-width: 730px) {
      top:10px;
      left:-80px;
      font-size: $font-size-smallest;
    }
  }



}

//END Scene 2
////////////////////////////////////////////////////

//Scene 3

#scene-3 {

  .caa-logo {
    @extend .caa-logo-730;
  }

  .scene-3-char {
    img { max-width:615px; height:auto; }
  }

  .scene-3 {
    &-char {
      position: relative;
      top:-63px;
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        // chrome safari fix
        top: -60px;
      }
      @media screen and (max-width: 730px) {
        top:-42px;
        left: -28px;
        & img {
          display: block;
          height: 215px;
          margin: 0 auto;
          position: relative;
        }
      }

    }
    &-bg-1 {
      min-width: 320px;
      background: url(/~/media/OM/murphys-game/ep4/images/bg/island.png) top repeat-x;
      width: 100%;
      height: 259px;
      //background-size: 618px 259px;


      @media screen and (max-width: 730px) {
        height: 150px;
        background-size: 927px 150px;
        background-position:top;
      }
    } //bg-1

     &-bg-2 {
      min-width: 320px;

      .corner-copy {
        display: inline-block;
        position: relative;
        max-width:140px;
        z-index: 20;
        top:-70px;
        left:-180px;
        padding:10px 15px;
        background-color: #fff;
        font-weight: bold;
        @media screen and (max-width: 730px) {
          max-width:90px;
          padding:5px 10px;
          top:-40px;
          left:-97px;
          font-size: $font-size-smallest;
        }
      }

     }

  } //scene-3

  .copy {
    margin-top:-130px;

    .bubble-container {
      margin-top: 30px;
      @media screen and (max-width: 568px) {
        margin:15px auto;
      }
    }

    .bubble-right {
      max-width: 300px;
      padding:0;
      font-size: 25px;
      text-align: center;
      background:none;
      &:after {
        display: none;
      }
      //fix early copy breaking issues
      @media screen and (min-width: 1025px) and (max-width: 1030px) {
        margin-left:0;
      }
      @media screen and (min-width: 569px) and (max-width: 579px) {
        margin-left:0;
      }
      @media screen and (max-width: 568px) {
        font-size: 15px;
        margin-top: 15px;
      }
    }
    @media screen and (max-width: 730px) {
      margin-top:-80px;
    }
  }
}

//END Scene 3
////////////////////////////////////////////////////

// Scene 4 Question 1

//// desktop

#q1 {

  .q1-bg-1 {
    height: 303px;
    background: url(/~/media/OM/murphys-game/ep4/images/bg/island-distant.png) top repeat-x;
  }

  .q1-char {
    margin: 0 auto;
    //background: url(/~/media/OM/murphys-game/ep4/images/animations/q1.png);
    position: relative;
    top: -86px;
    z-index: 2;
  }

  .copy {
    margin-top: 60px;

    .bubble-right {
      max-width:270px;
      @media screen and (min-width: 1022px) and (max-width: 1044px) {
        max-width:188px;
      }
      @media only screen and (max-width : 600px) {
        max-width:188px;
      }
    }

    h2 {
      font: bold 50px 'Passion One';
      padding:0;
    }
  }

// END desktop


//// Mobile
  @media only screen and (max-width : 568px) {

    .q1-bg-1 {
      width: 100%;
      background-size:964px 100px;
    }

    /*.characters.*/
    .q1-char {
      top: -55px;
      left: -15px;
      img {
        height: 215px;
      }
    }
    /*text*/
    .copy {
        position: relative;
        margin-top: -70px;

        h2 { font: bold 30px 'Passion One'; }

        .bubble-container { margin:20px auto; }

        .bubble-right { max-width:35%;}
    }

  }

}
//// mobile

// END Scene 4 Question 1
////////////////////////////////////////////////////

//Scene 5

#scene-5 {

  .caa-logo {
    @extend .caa-logo-730;
  }
  .scene-5-char {
    img {
      max-width:653px;
      top:27px;
      left:5px;
      @media only screen and (max-width : 730px) {
        top:7px;
        left:0;
        max-width:325px;
      }
    }
  }

  .scene-5-bg-1 {
    height: 600px;
    background: url(/~/media/OM/murphys-game/ep4/images/bg/resto.png) top repeat-x;
    background-size:1600px 600px;

    @media only screen and (max-width : 730px) {
      height: 277px;
      background-size:800px 300px;
    }
  }

  .fp-scrollable { min-width:325px; }

  .table-cloth__container {
    position: relative;
    top:-50px;
    left:7px;
    margin: 0 auto;
    width: 596px;
    @media only screen and (max-width : 730px) {
      top:0;
      left:0;
      width: 297px;

    }

    .copy {
      font-size: 12px;
      max-width:100%;
      margin: 0;
      padding:20px 25px 0 15px;

      @media only screen and (max-width : 730px) {

        padding:0;

        p {
          font-size: 15px;
          line-height: 120%;
          margin-left:0;
          margin-right:0;
          width: 270px;
        }

      }
    }
  }

  .table-cloth {
    position: absolute;
    display: block;
    height: 60vh;
    width:596px;
    top:0;
    background-color:#8ad5af;
    @media only screen and (max-width : 730px) {
      height: 100vh;
      width: 297px;
      top:-50px;
      @media only screen and (device-aspect-ratio: 40/71) {
        height:64vh;
      }

    }

  }

}

@media only screen and (max-width : 730px) {
  // .section .copy p {
  //   font-size: $murphy-mobile-font;
  // }
}

//END Scene 5
////////////////////////////////////////////////////

//Scene 6 Question 2


//// desktop
#q2  {

  .caa-logo {
    @extend .caa-logo-730;
  }

  .q2-bg-1 {
    height: 533px;
    background: url(/~/media/OM/murphys-game/ep4/images/bg/resto-2.png) top repeat-x;
    background-size:1600px 533px;
    position: relative;

    @media only screen and (max-width : 730px) {
      height: 300px;
      background-size:800px 300px;
    }
  }

  .q2-char {
    position: relative;
    top:47px;
    left:-120px;
    @media only screen and (max-width : 730px) {
      top:18px;
      left:-72px;
      img { height:170px; }
    }
  }

  .bubble-container__joey {
    display: block;
    position: relative;
    z-index: 10;
    top: -190px;
    left: 160px;

    .bubble-right {
      max-width: 165px;
      background: rgba(255, 255, 255, 0.7);
      @media screen and (max-width: 730px) {
          font-size:$murphy-mobile-font;
      }
      &:after {
        border-color: transparent rgba(255, 255, 255, 0.7);
      }
    }

    @media only screen and (max-width : 730px) {
      font-size: 15px;
      top: -158px;
      left: 79px;
      .bubble-right {
        max-width: 80px;
      }
    }
  } // .bubble-container__joey


  .copy {
    top: -100px;
    .bubble-right {
      background: rgba(255, 255, 255, 0.7);
      &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 15px 0 0;
        border-color: transparent #FFFFFF;
        border-color: transparent rgba(255, 255, 255, 0.7);
        display: block;
        width: 0;
        z-index: 1;
        left: -15px;
        top: 30px;

      }
    }
    @media only screen and (max-width : 730px) {
      top:-50px;
      p {font-size:$murphy-mobile-font;}
      .bubble-speaker { width:80px; }
      .bubble-right { font-size:$murphy-mobile-font; }
    }

  } // .copy

  .slide {
    .cta {
      position: relative;
      top: -80px;
      @media only screen and (max-width : 730px) {
        top: -40px;
      }
    }
    .answer-container .cta {
      top:0;
    }
  }
  //// END desktop


  /*...START Mobile...*/
  @media only screen and (max-width : 568px) {

  }

}
//// END mobile

//END Scene 7
////////////////////////////////////////////////////

//Scene 7

#scene-7 {
  .caa-logo {
    @extend .caa-logo-730;
  }
  background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/grasslight.gif) top repeat !important;

  .scene-7-bg-1 {
    background: url(/~/media/OM/murphys-game/ep4/images/bg/ships-beach.jpg);
    background-position:top;
    background-repeat:repeat-x;
    height:334px;
    @media only screen and (max-width : 730px) {
      top:-100px;
      background-size:862px 180px;
    }
  }
  .scene-7-char {
    position: relative;
    top:-85px;
    left:-12px;
    @media only screen and (max-width : 730px) {
      top:-54px;
      left:-15px;
      img {
        height: 180px;
      }
    }

  }
  .copy {
    @media only screen and (max-width : 730px) {
      top:-140px;
      margin-top: 0;
    }

    & + .cta {
    @media only screen and (max-width : 730px) {
        top: -120px;
      }
    }
  }
  .bubble-container {
    margin: 30px auto 20px;
    @media only screen and (max-width : 730px) {
      margin: 0 auto;
    }
  }

}

//END Scene 7
////////////////////////////////////////////////////


// Scene 8  Question 3 page

#q3 {

  background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/grasslight.gif) top repeat !important;

  .caa-logo {
    @extend .caa-logo-730;
  }
  .q3-bg-1 {
    background: url(/~/media/OM/murphys-game/ep4/images/bg/ships-beach.jpg);
    background-position:top;
    background-repeat:repeat-x;
    height:334px;
    @media only screen and (max-width : 730px) {
      top:-100px;
      background-size:862px 180px;
      height:200px;
    }
  }

  .q3-char {
    position: relative;
    top:-71px;
    img {
      height: 320px;
      @media only screen and (max-width : 730px) {
        top:29px;
        height:170px;
      }
    }
  }

  .copy {

    h2 {
      font: bold 96px 'Passion One';
      color: #fff;
      line-height: 80%;
      margin-bottom:20px;
    }
    p {
      &:last-child {
        margin-bottom: 30px;
      }
    }
    @media only screen and (max-width : 730px) {
        margin: 0 auto;
        //top:-140px;
        //height:170px;

        h2 {
          font: bold 30px 'Passion One' !important;
          margin-bottom:10px;
        }
        p {
          font-size: $murphy-mobile-font;
          &:last-child {
            margin-bottom: 15px;
          }
        }
    }

    + .cta {
      @media only screen and (max-width : 730px) {
        position: relative;
        display: block;
        ul li {
            font-size: $murphy-mobile-font !important;
          }
        //top:-110px;
      }
      @media only screen and (max-width : 568px) {
        position: relative;
        display: block;
        //top:-160px;
      }
    }


  } //copy

} // q3

//END Scene 8  Question 3 page
////////////////////////////////////////////////////


//Scene 9

#scene-9 {
  .caa-logo {
    @extend .caa-logo-730;
  }
  background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/grasslight.gif) top repeat !important;

  .scene-9-bg-1 {
    background: url(/~/media/OM/murphys-game/ep4/images/bg/beach.png);
    background-position:top center;
    background-repeat:repeat-x;
    background-size:1353px 230px;
    height: 430px;
    @media only screen and (max-width : 730px) {
      height: 220px;
      background-size:677px 115px;
    }
  }
  .scene-9-char {
    position: relative;
    top:-85px;
    img {
      position: relative;
    }
    @media only screen and (max-width : 730px) {
      top:-42px;
      left:0;
      img {height:215px;}
    }

  }
  .copy {
    display: block;
    position: relative;
    @media only screen and (max-width : 730px) {
      margin-top: 0;
    }

  }
  .bubble-container {
    margin: 30px auto 20px;
    @media only screen and (max-width : 730px) {
      margin: 0 auto;
    }
  }

}

//END Scene 7
////////////////////////////////////////////////////
