/*  START Terms and Conditions */
/*..............................................................................*/
.btn-tandc {
  display: block !important;
  font-size: 10px;
  color: #fff;
  padding: 1px 20px;
  z-index: 18;
  position: absolute;
  bottom: 2px;
  right: 2px;
  cursor: pointer;
}
.btn-tandc.dark {
  color:#666;
}
#tandc {
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  bottom: 0;
  padding: 0 15px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 23;
}
#tandc div {
  max-width: 600px;
  margin: 0 auto;
}
#tandc h2 {
  margin: 20px auto 10px;
  max-width: 600px;
  text-align: left;
  opacity: 1;
  font-size: 13px;
  color:#fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#tandc p, #tandc sup {
  margin: 15px auto;
  color: #fff;
  opacity: 1;
  font-size: 11px;
  max-width: 600px;
  text-align: left;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#tandc a {
  color: #fff;
  text-decoration: underline;
}
#close-tandc {
  //text-decoration: none !important;
  padding: 5px 15px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  //color: #000 !important;
}



/*text*/
// #tandc h2, #tandc p { font-size: 7px; }