#thank-you {
  #intro {
      // background: url(./images/bg/intro/grass.gif) top repeat !important;
      height: 100vh;

      .intro-title {
        background: none;
        max-width: 350px;
        position: relative;
        top:115px;
        left:50px;
        & h1 {
          background: none;
          color:#fff;
          font-size: 30px;
          @media screen and (max-width: 568px) {
            font-size: 20px;
          }
        }

        & p {
          font-size: 21px;
          @media screen and (max-width: 352px) { width: 225px; }
        }
      }

      .copy {
        & h2 {
          font-size: 32px;

          @media screen and (max-width: 568px) { font-size: 24px; }
        }

        #msg {
          @media screen and (min-width: 569px) { width: 75%; }
        }
      }









      .intro-bg-1 { height: 434px; display: block; position: relative;}

      @media screen and (max-width: 568px) {

        .intro-title {
          top:31px;
        }
        .intro-bg-1 {
          height: 240px;
        }
      }

  } //#intro


  #tandc {z-index: 2000; padding-top: 15px;}

  #close-tandc {
    border: 0;
    color:#fff;
    background-color: #000;
  }

  a.get-a-quote {
    color: #65b32b;
    font-size: 25px;
    background-color: #fff;
    margin:0 auto 10px;
    padding: 10px 0;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: block;
    max-width: 350px;
    text-decoration: none;
    &:hover {
      background-color: #50C548;
      color: #fff;
    }
  }

  @media screen and (max-width: 568px) {

    a.get-a-quote {
      display: inline-block;
      min-width: 200px;
      font-size: 16px;
    }
    .mq-mobile {
      overflow-x: hidden;
    }
    #thank-you p {
      line-height: 20px;
    }
  }
}
