/*************************************
Author(s):eChannel
Working file: style.scss
Project:Murphys 4
Location:
https://bitbucket.org/CAA-eProd/mg4-6-murphys-episode-4
*************************************/
/* murphys game */
/*  Basic Reset and Base Styles */
/*..............................................................................*/
* { padding: 0; margin: 0; border: 0; }

body { font-family: Arial, sans-serif; color: #333; overflow: hidden; -webkit-tap-highlight-color: transparent; }

sup { font-size: 50%; }

a { color: #fff; }

/* slides */
#superContainer { height: 100%; position: relative; -ms-touch-action: none; touch-action: none; }

.fp-section { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.fp-slide { float: left; }

.fp-slide, .fp-slidesContainer { height: 100%; display: block; }

.fp-slides { z-index: 9; height: 100%; overflow: hidden; position: relative; -webkit-transition: all .3s ease-out; transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table { display: table; table-layout: fixed; width: 100%; }

.fp-tableCell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; }

.fp-slidesContainer { float: left; position: relative; }

.fp-controlArrow { position: absolute; z-index: 4; top: 50%; cursor: pointer; width: 0; height: 0; border-style: solid; margin-top: -38px; }

.fp-controlArrow.fp-prev { left: 15px; width: 0; border-width: 38.5px 34px 38.5px 0; border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next { right: 15px; border-width: 38.5px 0 38.5px 34px; border-color: transparent transparent transparent #fff; }

.fp-scrollable { overflow: scroll; }

.fp-notransition { -webkit-transition: none !important; transition: none !important; }

#fp-nav { position: fixed; z-index: 100; margin-top: -32px; top: 50%; opacity: 1; }

#fp-nav.right { right: 17px; }

#fp-nav.left { left: 17px; }

.fp-slidesNav { position: absolute; z-index: 4; left: 50%; opacity: 1; }

.fp-slidesNav.bottom { bottom: 17px; }

.fp-slidesNav.top { top: 17px; }

#fp-nav ul, .fp-slidesNav ul { margin: 0; padding: 0; }

#fp-nav ul li, .fp-slidesNav ul li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; }

.fp-slidesNav ul li { display: inline-block; }

#fp-nav ul li a, .fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span { background: #333; }

#fp-nav ul li a span, .fp-slidesNav ul li a span { top: 2px; left: 2px; width: 8px; height: 8px; border: 1px solid #000; background: 0 0; border-radius: 50%; position: absolute; z-index: 1; }

#fp-nav ul li .fp-tooltip { position: absolute; top: -2px; color: #fff; font-size: 14px; font-family: arial, helvetica, sans-serif; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 0; }

#fp-nav ul li:hover .fp-tooltip { -webkit-transition: opacity .2s ease-in; transition: opacity .2s ease-in; width: auto; opacity: 1; }

#fp-nav ul li .fp-tooltip.right { right: 20px; }

#fp-nav ul li .fp-tooltip.left { left: 20px; }

/* START General */
/*..............................................................................*/
/*...START Desktop...*/
.mq-desktop { display: block; }

.mq-tablet, .mq-mobile, #fullpage { display: none; }

/*  Rotate Warning  */
#warning-rotate { display: none; width: 100%; height: 100%; background-color: #bdbdc2; padding-top: 50px; text-align: center; position: fixed; }

#warning-rotate img { width: 150px; margin-bottom: 15px; }

#warning-rotate p { width: 50%; margin: 0 auto; font-size: 20px; color: #000000; }

/*  Top (CAA SCO logo)  */
.section .caa-logo { height: 65px; width: 150px; margin-top: 20px; z-index: 1000; }

/*text*/
.copy, .answer p { max-width: 45%; }

.copy { margin: 30px auto 0; display: block; position: relative; min-width: 320px; }

.sceneDescription-copy { font-family: 'Gloria Hallelujah', cursive; /*border: 2px solid #ccc; */ background-color: #fffecc; color: #666; display: inline-block; font-size: 18px; margin: 20px 0 15px -350px; padding: 3px 15px; position: relative; text-shadow: none; z-index: 3; }

.dark, .dark .section p, .dark p, .dark h2 { color: #4D4D4D; }

/*  Buttons  */
.cta { padding-bottom: 20px; width: 100%; text-align: center; cursor: pointer; color: #fff; }

.cta div { font-size: 18px !important; margin-bottom: 5px; position: relative; z-index: 1; }

.cta img { width: 70px; }

img.go-next { width: 55px; cursor: pointer; margin-bottom: 5px; /* you can adjust the CTA vertical position changing this value */ -webkit-transition: margin-bottom 0.2s ease-in-out; -moz-transition: margin-bottom 0.2s ease-in-out; -o-transition: margin-bottom 0.2s ease-in-out; transition: margin-bottom 0.2s ease-in-out; }

/*  Formatting for rest of the pages / sections  */
.section { text-align: center; /*padding-top: 15px;*/ }

.section h1, .section h2, .section p, .section img { position: relative; font-size: 25px; z-index: 6; }

.section h2 { font-size: 45px; margin: 0px auto 5px auto; padding: 0 15px; /* top: 70px;  -  used only if there's a top/header */ font-weight: normal; }

.section p { display: block; line-height: 30px; margin: 0px auto 15px auto; padding: 0 15px; /*   -  used only if there's a top/header */ }

.section img { display: inline-block; }

.slide { position: relative; z-index: 9; }

.js-none { display: none; }

/*...END Desktop...*/
/*...START tablet...*/
@media screen and (max-width: 1024px) { .copy, .answer p { max-width: 70%; } }
/*...END tablet...*/
/*...START mobile...*/
@media screen and (max-width: 568px) { .animation-area { position: absolute; height: 100%; top: 0; }
  .section .caa-logo { height: 40px; width: 92px; margin-top: 10px; }
  .section h1, .section h2 { font-size: 20px; }
  .section p, .section li { font-size: 15px !important; line-height: 20px; }
  .copy { max-width: 100%; }
  .sceneDescription-copy { font-size: 11px; margin: 20px 0 0 -120px; } }
/*...END Mobile...*/
/*  questions formatting  */
.questions { text-align: center; }

.questions ul { position: relative; z-index: 7; list-style: none; font-size: 30px; margin: 0 auto; /* you can adjust the Alternative Buttons vertical position changing this value */ max-width: 515px; min-width: 300px; }

.questions ul li { color: #65b32b; font-size: 25px; background-color: #fff; margin-bottom: 10px; padding: 10px 0; cursor: pointer; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.questions ul li:hover { color: #fff; background-color: #50C548; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; -o-transition: background-color 0.2s ease-in-out; transition: background-color 0.2s ease-in-out; }

/*  Answers */
.answer-container { overflow: hidden; color: #fff; }

.answer-container.correct { background-color: #6dac35; height: 100%; }

.answer-container.incorrect { background-color: #cf3939; height: 100%; }

.correct .answer p, .incorrect .answer p { top: 0; }

.incorrect .answer img, .correct .answer img { width: 320px; margin-top: 15px; }

/*buttons*/
.cta.btn-answer { margin: 0; position: relative; }

.cta.btn-answer img { width: 55px; padding-bottom: 20px; }

@media screen and (max-width: 568px) { .answer p { max-width: 100%; }
  .questions ul { max-width: 100%; }
  .cta .correct, .cta .incorrect { margin-top: inherit; }
  .cta ul li { margin: 5px 20px; }
  .linkButton { margin-top: 28px; }
  .incorrect .answer img, .correct .answer img { width: 150px; } }
@media screen and (max-width: 730px) { .caa-logo-730, #scene-2 .caa-logo, #scene-3 .caa-logo, #scene-5 .caa-logo, #q2 .caa-logo, #scene-7 .caa-logo, #q3 .caa-logo, #scene-9 .caa-logo { height: 40px; width: 92px; position: relative; margin-top: 10px; } }

#intro { background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/grasslight.gif) top repeat !important; }
#intro.intro .intro-bg-1 { width: 100%; height: 450px; margin: 0 auto; text-align: center; background: #53b5b2; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */ }
#intro.intro .intro-bg-2 { background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/beach-water.gif) bottom repeat-x; height: 371px; width: 100%; text-align: center; }
#intro.intro .intro-bg-center { width: 100%; height: 487px; margin: auto 0; position: relative; top: -78px; text-align: center; }
#intro.intro .intro-title { width: 641px; height: 284px; margin: 0 auto; background: url(/~/media/OM/murphys-game/ep4/images/text/murphys-title.png) top no-repeat; position: relative; top: 105px; z-index: 100; color: #fff; }
#intro.intro .intro-title > div { font: normal 50px/18px 'Yellowtail', cursive; -webkit-text-shadow: 0px 5px rgba(0, 0, 0, 0.15); -moz-text-shadow: 0px 5px rgba(0, 0, 0, 0.15); text-shadow: 0px 5px rgba(0, 0, 0, 0.15); position: relative; }
#intro.intro .intro-title .tag-1 { top: -35px; left: -250px; }
#intro.intro .intro-title .tag-2 { top: 100px; left: 80px; }
#intro.intro .intro-char { margin-top: -290px; }
#intro.intro .intro-char img { max-width: 567px; }
@media screen and (max-width: 568px) { #intro.intro .intro-char img { width: 300px; } }
#intro.intro .cta.questions { position: relative; margin-top: 25px; }
#intro.intro .questions ul li:hover { background-color: #50C548; color: #fff; }
@media screen and (max-width: 568px) { #intro.intro { /*wider max width for smoother transition on desktop*/ /*bg*/ /*.text.*/ /*characters*/ }
  #intro.intro .intro-bg-1 { width: 100%; height: 178px; background-size: 129px 200px; border-bottom: 3px solid #435d30; margin: 0 auto; text-align: center; }
  #intro.intro .intro-bg-2 { background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/beach-water.gif) bottom repeat-x; height: 417px; width: 100%; position: relative; background-size: 265px 83px; top: -220px; text-align: center; }
  #intro.intro .intro-bg-center { background-size: 221px 180px; width: 100%; height: 178px; margin: 0 auto; position: relative; top: 202px; text-align: center; }
  #intro.intro .intro-title { background-size: 278px 50px; width: 278px; height: 50px; margin: 0 auto; position: relative; top: 30px; }
  #intro.intro .intro-title > div { font: normal 30px/18px 'Yellowtail', cursive; -webkit-text-shadow: 0px 2px rgba(0, 0, 0, 0.15); -moz-text-shadow: 0px 2px rgba(0, 0, 0, 0.15); text-shadow: 0px 2px rgba(0, 0, 0, 0.15); position: relative; }
  #intro.intro .intro-title .tag-1 { top: -25px; left: -57px; }
  #intro.intro .intro-title .tag-2 { top: 37px; left: 35px; }
  #intro.intro .cta.questions { margin-top: 15px; }
  #intro.intro .intro-char { margin: 0 auto; position: relative; top: -76px; }
  #intro.intro .copy { margin-top: -70px; } }
#intro .copy { max-width: 60%; }
#intro .copy p { font-size: 18px; line-height: 24px; }

#scene-1 { background: url(/~/media/OM/murphys-game/ep4/images/bg/city-scape-street.jpg) top repeat; }
#scene-1 .scene-1-bg-1 { background: url(/~/media/OM/murphys-game/ep4/images/bg/city-scape.jpg) top repeat-x; width: 100%; height: 400px; background-size: 1600px 400px; }
@media screen and (max-width: 568px) { #scene-1 .scene-1-bg-1 { height: 209px; background-size: 900px 218px; background-position: bottom; } }
#scene-1 .scene-1-char { position: relative; margin-top: -85px; }
#scene-1 .scene-1-char img { max-width: 560px; }
@media screen and (max-width: 568px) { #scene-1 .scene-1-char { margin-top: -57px; }
  #scene-1 .scene-1-char img { width: 300px; } }

#scene-2 { background: url(/~/media/OM/murphys-game/ep4/images/bg/grass.jpg) top repeat; }
@media screen and (max-width: 730px) { #scene-2 .copy { margin-top: 0; } }
#scene-2 .scene-2-char { position: relative; top: 62px; }
@media screen and (max-width: 730px) { #scene-2 .scene-2-char img { display: block; height: 256px; position: relative; top: -36px; } }
#scene-2 .scene-2-bg-1 { min-width: 320px; background: url(/~/media/OM/murphys-game/ep4/images/bg/house-brick.jpg) top repeat-x; width: 100%; height: 579px; background-size: 1600px 579px; }
@media screen and (max-width: 730px) { #scene-2 .scene-2-bg-1 { height: 300px; background-size: 830px 300px; background-position: top; } }
#scene-2 .scene-2-bg-2 { min-width: 320px; }
#scene-2 .scene-2-bg-2 [src*="sc-2.gif"] { display: inline-block; top: -40px; left: 3px; height: 494px; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #scene-2 .scene-2-bg-2 [src*="sc-2.gif"] { top: -38px; } }
@media screen and (max-width: 730px) { #scene-2 .scene-2-bg-2 [src*="sc-2.gif"] { height: 255px; background-position: top; top: -69px; } }
#scene-2 .corner-copy { display: inline-block; position: relative; z-index: 20; top: 52px; left: -200px; padding: 10px 15px; background-color: #ffc754; font-weight: bold; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #scene-2 .corner-copy { top: 48px; left: -170px; } }
@media screen and (max-width: 730px) { #scene-2 .corner-copy { top: 10px; left: -80px; font-size: 0.625rem; } }

#scene-3 .scene-3-char img { max-width: 615px; height: auto; }
#scene-3 .scene-3-char { position: relative; top: -63px; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #scene-3 .scene-3-char { top: -60px; } }
@media screen and (max-width: 730px) { #scene-3 .scene-3-char { top: -42px; left: -28px; }
  #scene-3 .scene-3-char img { display: block; height: 215px; margin: 0 auto; position: relative; } }
#scene-3 .scene-3-bg-1 { min-width: 320px; background: url(/~/media/OM/murphys-game/ep4/images/bg/island.png) top repeat-x; width: 100%; height: 259px; }
@media screen and (max-width: 730px) { #scene-3 .scene-3-bg-1 { height: 150px; background-size: 927px 150px; background-position: top; } }
#scene-3 .scene-3-bg-2 { min-width: 320px; }
#scene-3 .scene-3-bg-2 .corner-copy { display: inline-block; position: relative; max-width: 140px; z-index: 20; top: -70px; left: -180px; padding: 10px 15px; background-color: #fff; font-weight: bold; }
@media screen and (max-width: 730px) { #scene-3 .scene-3-bg-2 .corner-copy { max-width: 90px; padding: 5px 10px; top: -40px; left: -97px; font-size: 0.625rem; } }
#scene-3 .copy { margin-top: -130px; }
#scene-3 .copy .bubble-container { margin-top: 30px; }
@media screen and (max-width: 568px) { #scene-3 .copy .bubble-container { margin: 15px auto; } }
#scene-3 .copy .bubble-right { max-width: 300px; padding: 0; font-size: 25px; text-align: center; background: none; }
#scene-3 .copy .bubble-right:after { display: none; }
@media screen and (min-width: 1025px) and (max-width: 1030px) { #scene-3 .copy .bubble-right { margin-left: 0; } }
@media screen and (min-width: 569px) and (max-width: 579px) { #scene-3 .copy .bubble-right { margin-left: 0; } }
@media screen and (max-width: 568px) { #scene-3 .copy .bubble-right { font-size: 15px; margin-top: 15px; } }
@media screen and (max-width: 730px) { #scene-3 .copy { margin-top: -80px; } }

#q1 .q1-bg-1 { height: 303px; background: url(/~/media/OM/murphys-game/ep4/images/bg/island-distant.png) top repeat-x; }
#q1 .q1-char { margin: 0 auto; position: relative; top: -86px; z-index: 2; }
#q1 .copy { margin-top: 60px; }
#q1 .copy .bubble-right { max-width: 270px; }
@media screen and (min-width: 1022px) and (max-width: 1044px) { #q1 .copy .bubble-right { max-width: 188px; } }
@media only screen and (max-width: 600px) { #q1 .copy .bubble-right { max-width: 188px; } }
#q1 .copy h2 { font: bold 50px 'Passion One'; padding: 0; }
@media only screen and (max-width: 568px) { #q1 { /*.characters.*/ /*text*/ }
  #q1 .q1-bg-1 { width: 100%; background-size: 964px 100px; }
  #q1 .q1-char { top: -55px; left: -15px; }
  #q1 .q1-char img { height: 215px; }
  #q1 .copy { position: relative; margin-top: -70px; }
  #q1 .copy h2 { font: bold 30px 'Passion One'; }
  #q1 .copy .bubble-container { margin: 20px auto; }
  #q1 .copy .bubble-right { max-width: 35%; } }

#scene-5 .scene-5-char img { max-width: 653px; top: 27px; left: 5px; }
@media only screen and (max-width: 730px) { #scene-5 .scene-5-char img { top: 7px; left: 0; max-width: 325px; } }
#scene-5 .scene-5-bg-1 { height: 600px; background: url(/~/media/OM/murphys-game/ep4/images/bg/resto.png) top repeat-x; background-size: 1600px 600px; }
@media only screen and (max-width: 730px) { #scene-5 .scene-5-bg-1 { height: 277px; background-size: 800px 300px; } }
#scene-5 .fp-scrollable { min-width: 325px; }
#scene-5 .table-cloth__container { position: relative; top: -50px; left: 7px; margin: 0 auto; width: 596px; }
@media only screen and (max-width: 730px) { #scene-5 .table-cloth__container { top: 0; left: 0; width: 297px; } }
#scene-5 .table-cloth__container .copy { font-size: 12px; max-width: 100%; margin: 0; padding: 20px 25px 0 15px; }
@media only screen and (max-width: 730px) { #scene-5 .table-cloth__container .copy { padding: 0; }
  #scene-5 .table-cloth__container .copy p { font-size: 15px; line-height: 120%; margin-left: 0; margin-right: 0; width: 270px; } }
#scene-5 .table-cloth { position: absolute; display: block; height: 60vh; width: 596px; top: 0; background-color: #8ad5af; }
@media only screen and (max-width: 730px) { #scene-5 .table-cloth { height: 100vh; width: 297px; top: -50px; } }
@media only screen and (max-width: 730px) and (device-aspect-ratio: 40 / 71) { #scene-5 .table-cloth { height: 64vh; } }

#q2 { /*...START Mobile...*/ }
#q2 .q2-bg-1 { height: 533px; background: url(/~/media/OM/murphys-game/ep4/images/bg/resto-2.png) top repeat-x; background-size: 1600px 533px; position: relative; }
@media only screen and (max-width: 730px) { #q2 .q2-bg-1 { height: 300px; background-size: 800px 300px; } }
#q2 .q2-char { position: relative; top: 47px; left: -120px; }
@media only screen and (max-width: 730px) { #q2 .q2-char { top: 18px; left: -72px; }
  #q2 .q2-char img { height: 170px; } }
#q2 .bubble-container__joey { display: block; position: relative; z-index: 10; top: -190px; left: 160px; }
#q2 .bubble-container__joey .bubble-right { max-width: 165px; background: rgba(255, 255, 255, 0.7); }
@media screen and (max-width: 730px) { #q2 .bubble-container__joey .bubble-right { font-size: 15px; } }
#q2 .bubble-container__joey .bubble-right:after { border-color: transparent rgba(255, 255, 255, 0.7); }
@media only screen and (max-width: 730px) { #q2 .bubble-container__joey { font-size: 15px; top: -158px; left: 79px; }
  #q2 .bubble-container__joey .bubble-right { max-width: 80px; } }
#q2 .copy { top: -100px; }
#q2 .copy .bubble-right { background: rgba(255, 255, 255, 0.7); }
#q2 .copy .bubble-right:after { content: ''; position: absolute; border-style: solid; border-width: 15px 15px 0 0; border-color: transparent #FFFFFF; border-color: transparent rgba(255, 255, 255, 0.7); display: block; width: 0; z-index: 1; left: -15px; top: 30px; }
@media only screen and (max-width: 730px) { #q2 .copy { top: -50px; }
  #q2 .copy p { font-size: 15px; }
  #q2 .copy .bubble-speaker { width: 80px; }
  #q2 .copy .bubble-right { font-size: 15px; } }
#q2 .slide .cta { position: relative; top: -80px; }
@media only screen and (max-width: 730px) { #q2 .slide .cta { top: -40px; } }
#q2 .slide .answer-container .cta { top: 0; }

#scene-7 { background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/grasslight.gif) top repeat !important; }
#scene-7 .scene-7-bg-1 { background: url(/~/media/OM/murphys-game/ep4/images/bg/ships-beach.jpg); background-position: top; background-repeat: repeat-x; height: 334px; }
@media only screen and (max-width: 730px) { #scene-7 .scene-7-bg-1 { top: -100px; background-size: 862px 180px; } }
#scene-7 .scene-7-char { position: relative; top: -85px; left: -12px; }
@media only screen and (max-width: 730px) { #scene-7 .scene-7-char { top: -54px; left: -15px; }
  #scene-7 .scene-7-char img { height: 180px; } }
@media only screen and (max-width: 730px) { #scene-7 .copy { top: -140px; margin-top: 0; } }
@media only screen and (max-width: 730px) { #scene-7 .copy + .cta { top: -120px; } }
#scene-7 .bubble-container { margin: 30px auto 20px; }
@media only screen and (max-width: 730px) { #scene-7 .bubble-container { margin: 0 auto; } }

#q3 { background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/grasslight.gif) top repeat !important; }
#q3 .q3-bg-1 { background: url(/~/media/OM/murphys-game/ep4/images/bg/ships-beach.jpg); background-position: top; background-repeat: repeat-x; height: 334px; }
@media only screen and (max-width: 730px) { #q3 .q3-bg-1 { top: -100px; background-size: 862px 180px; height: 200px; } }
#q3 .q3-char { position: relative; top: -71px; }
#q3 .q3-char img { height: 320px; }
@media only screen and (max-width: 730px) { #q3 .q3-char img { top: 29px; height: 170px; } }
#q3 .copy h2 { font: bold 96px 'Passion One'; color: #fff; line-height: 80%; margin-bottom: 20px; }
#q3 .copy p:last-child { margin-bottom: 30px; }
@media only screen and (max-width: 730px) { #q3 .copy { margin: 0 auto; }
  #q3 .copy h2 { font: bold 30px 'Passion One' !important; margin-bottom: 10px; }
  #q3 .copy p { font-size: 15px; }
  #q3 .copy p:last-child { margin-bottom: 15px; } }
@media only screen and (max-width: 730px) { #q3 .copy + .cta { position: relative; display: block; }
  #q3 .copy + .cta ul li { font-size: 15px !important; } }
@media only screen and (max-width: 568px) { #q3 .copy + .cta { position: relative; display: block; } }

#scene-9 { background: url(/~/media/OM/murphys-game/ep4/images/bg/intro/grasslight.gif) top repeat !important; }
#scene-9 .scene-9-bg-1 { background: url(/~/media/OM/murphys-game/ep4/images/bg/beach.png); background-position: top center; background-repeat: repeat-x; background-size: 1353px 230px; height: 430px; }
@media only screen and (max-width: 730px) { #scene-9 .scene-9-bg-1 { height: 220px; background-size: 677px 115px; } }
#scene-9 .scene-9-char { position: relative; top: -85px; }
#scene-9 .scene-9-char img { position: relative; }
@media only screen and (max-width: 730px) { #scene-9 .scene-9-char { top: -42px; left: 0; }
  #scene-9 .scene-9-char img { height: 215px; } }
#scene-9 .copy { display: block; position: relative; }
@media only screen and (max-width: 730px) { #scene-9 .copy { margin-top: 0; } }
#scene-9 .bubble-container { margin: 30px auto 20px; }
@media only screen and (max-width: 730px) { #scene-9 .bubble-container { margin: 0 auto; } }

.slimScrollBar { display: block !important; }

.bubble-container { width: 100%; margin-bottom: 30px; display: block; }
.bubble-container:nth-child(2) { margin-top: 45px; }

.bubble-speaker { width: 138px; display: inline-block; vertical-align: top; }
@media screen and (max-width: 568px) { .bubble-speaker { width: 80px; } }

.bubble-right, .bubble-left { position: relative; display: inline-block; max-width: 250px; line-height: 130%; padding: 10px 18px; background: #fff; background: rgba(255, 255, 255, 0.3); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color: #333; font-size: 18px; text-align: left; min-height: 50px; }
@media screen and (max-width: 568px) { .bubble-right, .bubble-left { font-size: 15px; max-width: 150px; } }

.bubble-right { margin-left: 20px; }
.bubble-right:after { content: ''; position: absolute; border-style: solid; border-width: 15px 15px 0 0; border-color: transparent #FFFFFF; border-color: transparent rgba(255, 255, 255, 0.3); display: block; width: 0; z-index: 1; left: -15px; top: 30px; }

.bubble-left { margin-right: 20px; }
.bubble-left:after { content: ''; position: absolute; border-style: solid; border-width: 15px 0 0 15px; border-color: transparent #FFFFFF; border-color: transparent rgba(255, 255, 255, 0.3); display: block; width: 0; z-index: 1; right: -15px; top: 30px; }

/* matching mini game */
#mini-game .slide { width: 100%; min-width: 320px; }

#gameContainer { max-width: 576px; min-width: 320px; margin: -10px auto 0; }
#gameContainer ul { max-width: 35%; }
@media screen and (max-width: 568px) { #gameContainer { margin-top: 20px; }
  #gameContainer ul { max-width: 45%; }
  #gameContainer ul li { font-size: 16px; } }
#gameContainer .gameClose, #gameContainer #gameStartScreen .gameCloseBtn, #gameContainer #gamePlayScreen .gameCloseBtn { background: url("/~/media/OM/murphys-game/ep4/images/minigame/close.png") center/100% no-repeat; position: relative; height: 46px; width: 46px; top: -630px; left: 520px; z-index: 100; cursor: pointer; }
@media screen and (max-width: 568px) { #gameContainer .gameClose, #gameContainer #gameStartScreen .gameCloseBtn, #gameContainer #gamePlayScreen .gameCloseBtn { height: 38px; width: 38px; top: -380px; left: 15px; float: right; margin-right: 4%; } }
#gameContainer .gameCopy h2 { color: #00338d; }
#gameContainer .gameCopy p { color: #333; }
#gameContainer #gameTimer { position: relative; z-index: 30; top: -30px; max-width: 259px; height: 80px; margin: 0 auto; background: url(/~/media/OM/murphys-game/ep4/images/minigame/time.png) center/100% no-repeat; text-align: center; font-size: 3.5rem; padding-top: 18px; font-weight: bold; color: #056f78; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gameTimer { font-size: 57.2px; } }
@media screen and (max-width: 568px) { #gameContainer #gameTimer { top: 37px; max-width: 180px; } }
#gameContainer .gameScreen, #gameContainer #gameStartScreen, #gameContainer #gamePlayScreen { display: block; position: relative; height: 677px; }
#gameContainer #gameStartScreen { z-index: 10; background: url(/~/media/OM/murphys-game/ep4/images/minigame/bg-start.png) center/100% no-repeat; padding-top: 50px; }
#gameContainer #gameStartScreen h1 { font: normal 98px "Yellowtail", cursive; color: #fff; position: relative; left: -28px; top: 20px; transform: rotateZ(-10deg); margin: 0 auto; text-align: center; }
#gameContainer #gameStartScreen h3 { color: #000; margin: 225px auto 0; font-size: 24px; text-align: center; max-width: 435px; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gameStartScreen h3 { margin: 205px auto 0; } }
#gameContainer #gameStartScreen .cta { max-width: 440px; margin: 0 auto; }
#gameContainer #gameStartScreen .cta:nth-child(3) { margin: 20px auto -18px !important; }
#gameContainer #gameStartScreen .cta ul { min-width: 150px; }
#gameContainer #gameStartScreen .cta ul li { background-color: #21abcb; color: #fff; }
#gameContainer #gameStartScreen .cta ul li:hover { background-color: #fff; color: #21abcb; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gameStartScreen .gameCloseBtn { top: -590px; } }
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 568px) { #gameContainer #gameStartScreen .gameCloseBtn { top: -388px; } }

@media screen and (max-width: 568px) { #gameContainer #gameStartScreen { background-size: 100% 400px; margin: -180px 4%; min-width: 300px; }
  #gameContainer #gameStartScreen h1 { font: normal 2.48rem 'Yellowtail', cursive; margin: 123px 0 0 20px; } }
@media screen and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gameStartScreen h1 { font: normal 48px 'Yellowtail', cursive; } }
@media screen and (max-width: 568px) { #gameContainer #gameStartScreen h3 { margin: 160px auto 0; font-size: 0.75rem; max-width: 271px; } }
@media screen and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gameStartScreen h3 { font-size: 15px; margin: 143px auto 0; } }

#gameContainer #gamePlayScreen { display: none; z-index: 5; background: url(/~/media/OM/murphys-game/ep4/images/minigame/bg-game.png) center/100% no-repeat; }
#gameContainer #gamePlayScreen p { color: #000; font-size: 1rem; line-height: 130%; max-width: 450px; margin: -5px auto 20px; }
@media screen and (max-width: 568px) { #gameContainer #gamePlayScreen { background-size: 100% 500px; margin: -90px 4%; min-width: 300px; }
  #gameContainer #gamePlayScreen p { max-width: 250px; margin: 30px auto 10px; } }
#gameContainer #gamePlayScreen .gameCloseBtn { top: -567px; }
@media screen and (max-width: 568px) { #gameContainer #gamePlayScreen .gameCloseBtn { top: -430px; } }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gamePlayScreen .gameCloseBtn { top: -580px; } }
#gameContainer #gamePlayScreen .gameStartGameBtn { position: relative; z-index: 30; bottom: 0; max-width: 200px; height: 80px; margin: 0 auto; background: url(/~/media/OM/murphys-game/ep4/images/minigame/time.png) top/100% no-repeat; text-align: center; font-size: 2.4rem; padding-top: 10px; font-weight: bold; color: #056f78; cursor: pointer; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gamePlayScreen .gameStartGameBtn { bottom: 25px; font-size: 37px; } }
@media screen and (max-width: 568px) { #gameContainer #gamePlayScreen .gameStartGameBtn { font-size: 1.7rem; top: 20px; max-width: 150px; } }
@media screen and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gamePlayScreen .gameStartGameBtn { font-size: 27px; } }

@media screen and (max-width: 568px) { #gameContainer #gamePlayScreen #gameTime { position: relative; font-size: 2.3rem; top: 10px; } }
@media screen and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 0) { #gameContainer #gamePlayScreen #gameTime { font-size: 41px; } }

#gameContainer #gameView { width: 420px; position: relative; overflow: hidden; margin: 0 auto; }
#gameContainer #gameView br { clear: both; height: 0; }
@media screen and (max-width: 568px) { #gameContainer #gameView { width: 280px; } }
#gameContainer #gameView .flip-container-hide { opacity: 0.5; cursor: pointer; }
#gameContainer #gameView .flip-container-hide-ff { opacity: 1; }
#gameContainer #gameView .flip-container-hide-ff .front { background: url(../images/minigame/card-cover-disabled.png) no-repeat center/100%; }
#gameContainer #gameView .gameMessageContainer, #gameContainer #gameView .gameWinContainer, #gameContainer #gameView .gameLoseContainer { position: absolute; overflow: visible; z-index: 30; height: 221px; width: 88%; top: 23%; left: 6%; }
@media screen and (max-width: 568px) { #gameContainer #gameView .gameMessageContainer, #gameContainer #gameView .gameWinContainer, #gameContainer #gameView .gameLoseContainer { top: 15%; height: 150px; } }
#gameContainer #gameView .gameMessageContainer .col, #gameContainer #gameView .gameWinContainer .col, #gameContainer #gameView .gameLoseContainer .col { max-width: 70%; }
#gameContainer #gameView .gameMessageContainer .col ul, #gameContainer #gameView .gameWinContainer .col ul, #gameContainer #gameView .gameLoseContainer .col ul { max-width: 70%; }
@media screen and (max-width: 568px) { #gameContainer #gameView .gameMessageContainer .col ul, #gameContainer #gameView .gameWinContainer .col ul, #gameContainer #gameView .gameLoseContainer .col ul { max-width: 90%; } }
#gameContainer #gameView .gameMessageContainer .matchName, #gameContainer #gameView .gameWinContainer .matchName, #gameContainer #gameView .gameLoseContainer .matchName { display: block; z-index: 30; text-align: center; font-weight: bold; font-size: 24px; line-height: 130%; color: #fff; padding-left: 15px; }
@media screen and (max-width: 568px) { #gameContainer #gameView .gameMessageContainer .matchName, #gameContainer #gameView .gameWinContainer .matchName, #gameContainer #gameView .gameLoseContainer .matchName { font-size: 16px; } }
#gameContainer #gameView .gameMessageContainer .matchName.slidefadeinout, #gameContainer #gameView .gameWinContainer .matchName.slidefadeinout, #gameContainer #gameView .gameLoseContainer .matchName.slidefadeinout { animation-duration: 1s, 5s; animation-name: slidein, fadeinout; }
#gameContainer #gameView .gameMessageContainer .matchName.slidefadein, #gameContainer #gameView .gameWinContainer .matchName.slidefadein, #gameContainer #gameView .gameLoseContainer .matchName.slidefadein { animation-duration: 1s, 2.5s; animation-name: slidein, fadein; }
#gameContainer #gameView .gameMessageContainer .overlay, #gameContainer #gameView .gameWinContainer .overlay, #gameContainer #gameView .gameLoseContainer .overlay { height: 100%; width: 100%; position: absolute; top: 0; background-color: #fff; border-radius: 10px; }
#gameContainer #gameView .gameMessageContainer .overlay.fadeinout, #gameContainer #gameView .gameWinContainer .overlay.fadeinout, #gameContainer #gameView .gameLoseContainer .overlay.fadeinout { animation-duration: 5s; animation-name: fadeinout; }
#gameContainer #gameView .gameMessageContainer .overlay.slidefadein, #gameContainer #gameView .gameWinContainer .overlay.slidefadein, #gameContainer #gameView .gameLoseContainer .overlay.slidefadein { animation-duration: 1s; animation-name: fadein; }
#gameContainer #gameView .gameMessageContainer .cta ul li, #gameContainer #gameView .gameWinContainer .cta ul li, #gameContainer #gameView .gameLoseContainer .cta ul li { width: 180px; margin: 0 15%; }
@media screen and (max-width: 568px) { #gameContainer #gameView .gameMessageContainer .cta ul li, #gameContainer #gameView .gameWinContainer .cta ul li, #gameContainer #gameView .gameLoseContainer .cta ul li { width: 120px; margin: 10px 10%; } }
#gameContainer #gameView .gameOverlayBG, #gameContainer #gameView .gameMessageContainer .overlay, #gameContainer #gameView .gameLoseContainer .overlay, #gameContainer #gameView .gameWinContainer .overlay { background-image: url(/~/media/OM/murphys-game/ep4/images/minigame/incorrect.png); background-repeat: no-repeat; background-position: 120% -30px; }
@media screen and (max-width: 568px) { #gameContainer #gameView .gameOverlayBG, #gameContainer #gameView .gameMessageContainer .overlay, #gameContainer #gameView .gameLoseContainer .overlay, #gameContainer #gameView .gameWinContainer .overlay { background-size: 60%; } }
#gameContainer #gameView .gameMessageContainer span { max-width: 200px; position: absolute; left: 5%; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
@media screen and (max-width: 568px) { #gameContainer #gameView .gameMessageContainer span { left: 0; } }
#gameContainer #gameView .gameMessageContainer .overlay { background-color: rgba(62, 147, 2, 0.9); background-image: url(/~/media/OM/murphys-game/ep4/images/minigame/correct.png); }
#gameContainer #gameView .gameLoseContainer .matchName { position: relative; top: 0; margin: 32px auto 15px; max-width: 50%; }
@media screen and (max-width: 568px) { #gameContainer #gameView .gameLoseContainer .matchName { max-width: 100px; margin: 25px auto 5px; } }
#gameContainer #gameView .gameLoseContainer .overlay { background-color: #cd281e; background-image: url(/~/media/OM/murphys-game/ep4/images/minigame/incorrect.png); }
#gameContainer #gameView .gameLoseContainer .cta ul li { color: #cd281e; border: 3px solid #fff; }
#gameContainer #gameView .gameLoseContainer .cta ul li:hover { background-color: #cd281e; color: #fff; }
#gameContainer #gameView .gameWinContainer .matchName { position: relative; max-width: 200px; margin: 30px auto 10px; }
@media screen and (max-width: 568px) { #gameContainer #gameView .gameWinContainer .matchName { max-width: 150px; margin: 12px auto 10px; } }
#gameContainer #gameView .gameWinContainer .overlay { background-color: #f78e07; background-image: url(/~/media/OM/murphys-game/ep4/images/minigame/win.png); }
#gameContainer #gameView .gameWinContainer .cta ul li { border: 3px solid #fff; color: #f78e07; }
#gameContainer #gameView .gameWinContainer .cta ul li:hover { background-color: #f78e07; color: #fff; }

#gameContinueBtn li { width: 200px; margin-left: 10%; }

/* simple */
.flip-container { -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; -ms-transform: perspective(1000px); -moz-transform: perspective(1000px); -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; display: block; float: left; position: relative; margin: 3px; }

.flip-container.toBack .back, .flip-container.toBack .back { -webkit-transform: rotateY(0deg); -moz-transform: rotateY(0deg); -o-transform: rotateY(0deg); -ms-transform: rotateY(0deg); transform: rotateY(0deg); }

.flip-container.toBack .front, .flip-container.toBack .front { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }

.flip-container { width: 83px; height: 83px; margin: 10px; }
@media screen and (max-width: 568px) { .flip-container { width: 55px; height: 55px; margin: 7px; } }

.flipper { -webkit-transition: 0.6s; -webkit-transform-style: preserve-3d; -ms-transition: 0.6s; -moz-transition: 0.6s; -moz-transform: perspective(1000px); -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transition: 0.6s; transform-style: preserve-3d; position: relative; }

.front, .back { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: 0.6s; -webkit-transform-style: preserve-3d; -webkit-transform: rotateY(0deg); -moz-transition: 0.6s; -moz-transform-style: preserve-3d; -moz-transform: rotateY(0deg); -o-transition: 0.6s; -o-transform-style: preserve-3d; -o-transform: rotateY(0deg); -ms-transition: 0.6s; -ms-transform-style: preserve-3d; -ms-transform: rotateY(0deg); transition: 0.6s; transform-style: preserve-3d; transform: rotateY(0deg); position: absolute; top: 0; left: 0; }

.fnb, .front, .back { border-radius: 50%; border: 3px solid #76b6c1; width: 83px; height: 83px; }
@media screen and (max-width: 568px) { .fnb, .front, .back { width: 55px; height: 55px; } }

.front { -webkit-transform: rotateY(0deg); -ms-transform: rotateY(0deg); -o-transform: rotateY(0deg); transform: rotateY(0deg); background: lightgreen; background: url(../images/minigame/card-cover.png) no-repeat center/100%; z-index: 2; }

.back { background: lightblue; -webkit-transform: rotateY(-180deg); -moz-transform: rotateY(-180deg); -o-transform: rotateY(-180deg); -ms-transform: rotateY(-180deg); transform: rotateY(-180deg); }

.animate { -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

@keyframes slidein { from { margin-top: 50%; }
  to { margin-top: 0%; } }
@keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fadeinout { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes fadeout { from { opacity: 1; }
  to { opacity: 0; } }
/*  START Form  */
/*..............................................................................*/
#form { display: block; width: 280px; /*margin: 10px 5px 0;*/ margin: 0 auto; height: 210px; position: relative; /*z-index: 6;*/ border: 0; }
#form ul { list-style: none; margin-bottom: 20px; }
#form span { font-size: 12px; padding-bottom: 10px; display: inline-block; }
#form .required { text-align: right; }

#form-wrap { padding-top: 20px; }
@media screen and (device-width: 360px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 3) { #form-wrap { height: 600px; } }
@media (max-device-width: 1280px) and (orientation: landscape) and (min-resolution: 169dpi) { #form-wrap { height: 1000px; } }
#form-wrap h2 { font-size: 33px; max-width: 720px; margin-top: 30px; }
@media screen and (max-width: 568px) { #form-wrap h2 { font-size: 19px; } }
#form-wrap p { top: 0; max-width: 820px; }
#form-wrap p span { font-style: italic; }
#form-wrap p:nth-child(3) { margin-bottom: 3px; }

/*  Form Page Animation  */
#form-animation { background: url("../images/form-bg.jpg") top center no-repeat #4cb4bb; position: absolute; width: 100%; height: 100%; top: 0; z-index: 2; }

/* Form Fields */
label.css-label { background-size: 30px 60px; background-image: url(https://www.caasco.com/~/media/OM/murphys-game/images/checkbox.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.css-label { text-align: left; }

.field { display: block; width: 270px; position: relative; height: 40px; border: 1px solid #fff; border-radius: 2px; background-color: #fff; margin-bottom: 10px; padding: 2px 3px 4px; line-height: 16px; font-size: 12px; }

.field label { max-height: 0; overflow: hidden; position: absolute; bottom: 0px; left: 0; right: 0; padding: 0 3px 0 10px; font-size: 11px; color: #69a9ab !important; background: #e8e8e8; text-align: left; }

.field input, .field select { border: none !important; width: 100%; height: 36px; padding: 0 10px; font-size: 16px; background-color: #fff; color: #5f5f5f; box-sizing: border-box; -webkit-appearance: none; }

li#check { font-size: 12px; margin: 7px 0 18px 0; }

.field input { margin-top: 3px; }

.field select { color: #fff; }

/* Show label instead of placeholder
*/
.field.show-label { height: 40px; border-bottom-width: 0; }

.field.show-label input, .field.show-label select { height: 28px; }

.field.show-label input { margin-top: 0; }

.field.show-label label { max-height: 15px; }

/* Hide placeholder onfocus for safari */
.field.show-label input[placeholder]::-webkit-input-placeholder { opacity: 0; }

/* Animations
*/
.field { transition-property: height, border-width; -webkit-transition-property: height, border-width; -moz-transition-property: height, border-width; transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-timing-function: ease-in; -webkit-transition-timing-function: ease-in; -moz-transition-timing-function: ease-in; }

.field input, .field select { transition: height 0.3s ease-in; -webkit-transition: height 0.3s ease-in; -moz-transition: height 0.3s ease-in; }

.field label { transition: max-height 0.3s ease-in; -webkit-transition: max-height 0.3s ease-in; -moz-transition: max-height 0.3s ease-in; }

.field input[placeholder]::-webkit-input-placeholder { transition: opacity 0.3s ease-in; -webkit-transition: opacity 0.3s ease-in; -moz-transition: opacity 0.3s ease-in; }

form.IE-8 { width: 600px; }

form.IE-8 .fname, .lname { width: 250px; }

input[type=checkbox].css-checkbox { position: absolute; z-index: -1000; left: -1000px; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }

input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr { padding-left: 35px; height: 30px; display: inline-block; line-height: 16px; background-repeat: no-repeat; background-position: 0 0; font-size: 12px; vertical-align: top; cursor: pointer; }

input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk { background-position: 0 -30px; }

label.css-label { background-size: 30px 60px; background-image: url(https://www.caasco.com/~/media/OM/murphys-game/images/checkbox.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.linkButton { background-color: #fff; border: none; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-appearance: none; -moz-appearance: none; color: #388E32; cursor: pointer; display: inline-block; font-size: 16px; margin: 40px 0 30px 0; padding: 15px 0; text-decoration: none; width: 280px; }

.linkButton:hover { background-color: #50C548; color: #fff; }

.disabled { cursor: not-allowed; opacity: 0.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }

.disabled:hover { background-color: #388e32 !important; }

#send-value { display: none; }

/*  END Form   */
/*..............................................................................*/
/*  START Terms and Conditions */
/*..............................................................................*/
.btn-tandc { display: block !important; font-size: 10px; color: #fff; padding: 1px 20px; z-index: 18; position: absolute; bottom: 2px; right: 2px; cursor: pointer; }

.btn-tandc.dark { color: #666; }

#tandc { display: none; text-align: center; width: 100%; height: 100%; background-color: #000; position: fixed; bottom: 0; padding: 0 15px; opacity: 0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 23; }

#tandc div { max-width: 600px; margin: 0 auto; }

#tandc h2 { margin: 20px auto 10px; max-width: 600px; text-align: left; opacity: 1; font-size: 13px; color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

#tandc p, #tandc sup { margin: 15px auto; color: #fff; opacity: 1; font-size: 11px; max-width: 600px; text-align: left; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

#tandc a { color: #fff; text-decoration: underline; }

#close-tandc { padding: 5px 15px; border: 1px solid #fff; background-color: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; font-size: 12px; }

/*text*/
#gameContainer.ie10 h1 { font-size: 70px; top: 25px !important; left: -5px !important; letter-spacing: -1px; }
#gameContainer.ie10 h3 { margin-top: 270px !important; }
#gameContainer.ie10 .gameCloseBtn { top: -560px !important; }

#thank-you #intro { height: 100vh; }
#thank-you #intro .intro-title { background: none; max-width: 350px; position: relative; top: 115px; left: 50px; }
#thank-you #intro .intro-title h1 { background: none; color: #fff; font-size: 30px; }
@media screen and (max-width: 568px) { #thank-you #intro .intro-title h1 { font-size: 20px; } }
@media screen and (max-width: 352px) { #thank-you #intro .intro-title p { width: 225px; } }
#thank-you #intro .copy h2 { font-size: 32px; }
@media screen and (max-width: 568px) { #thank-you #intro .copy h2 { font-size: 24px; } }
@media screen and (min-width: 569px) { #thank-you #intro .copy #msg { width: 75%; } }
#thank-you #intro .intro-bg-1 { height: 434px; display: block; position: relative; }
@media screen and (max-width: 568px) { #thank-you #intro .intro-title { top: 31px; }
  #thank-you #intro .intro-bg-1 { height: 240px; } }
#thank-you #tandc { z-index: 2000; padding-top: 15px; }
#thank-you #close-tandc { border: 0; color: #fff; background-color: #000; }
#thank-you a.get-a-quote { color: #65b32b; font-size: 25px; background-color: #fff; margin: 0 auto 10px; padding: 10px 0; cursor: pointer; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; display: block; max-width: 350px; text-decoration: none; }
#thank-you a.get-a-quote:hover { background-color: #50C548; color: #fff; }
@media screen and (max-width: 568px) { #thank-you a.get-a-quote { display: inline-block; min-width: 200px; font-size: 16px; }
  #thank-you .mq-mobile { overflow-x: hidden; }
  #thank-you #thank-you p { line-height: 20px; } }
