/*................................................................................

Project: CAA-4822 | The Murphys - New York City
Date: 4/07/2015
CAA SCO - E-biz

Notes:

................................................................................*/



/*  Basic Reset and Base Styles */
/*..............................................................................*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #fff;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent
}
sup { font-size: 50%; }



/* START General */
/*..............................................................................*/

/*...START Desktop...*/

.mq-desktop { display: block; }
.mq-tablet { display: none; }
.mq-mobile { display: none; }

/*  Loading  */
#fullpage { display: none; } /* it will show after load the images */

/* slides */
#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none;
  touch-action: none
}
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.fp-slide { float: left }
.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block
}
.fp-slides {
  z-index: 9;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out
}
.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%
}
.fp-slidesContainer {
  float: left;
  position: relative
}
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px
}
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff
}
.fp-scrollable { overflow: scroll }
.fp-notransition {
  -webkit-transition: none!important;
  transition: none!important
}
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1
}
#fp-nav.right { right: 17px }
#fp-nav.left { left: 17px }
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1
}
.fp-slidesNav.bottom { bottom: 17px }
.fp-slidesNav.top { top: 17px }
#fp-nav ul, .fp-slidesNav ul {
  margin: 0;
  padding: 0
}
#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative
}
.fp-slidesNav ul li { display: inline-block }
#fp-nav ul li a, .fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span { background: #333 }
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: 0 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0
}
#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: auto;
  opacity: 1
}
#fp-nav ul li .fp-tooltip.right { right: 20px }
#fp-nav ul li .fp-tooltip.left { left: 20px }

/*  Rotate Warning  */
#warning-rotate {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #bdbdc2;
  padding-top: 50px;
  text-align: center;
  position: fixed;
}
#warning-rotate img {
  width: 150px;
  margin-bottom: 15px;
}
#warning-rotate p {
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  color: #000000;
}

/*  Top (CAA SCO logo)  */
#top {
  width: 100%;
  position: relative;
  top: -485px;
  z-index: 10;
}
#top #logo {
  width: 100%;
  text-align: center;
}
#top #logo img {
  width: 150px;
  margin-left: 6px;
  margin-top: 15px;
}


/*text*/
.sceneDescription-copy { 
  font-family: 'Gloria Hallelujah', cursive; 

  /*border: 2px solid #ccc; */
  background-color: #fffecc;
  color: #666;
  display: inline-block;
  font-size: 18px;
  margin:20px 0 15px -350px;
  padding: 3px 15px; 
  position: relative;
  text-shadow:none;
  z-index: 3;
}

.dark,  .dark .section p, .dark p, .dark h2  {
  color: #4D4D4D;
  text-shadow:1px 1px 1px rgba(255, 255, 255, 1) !important;
}


/*  Buttons  */
.cta {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.cta div {
  font-size: 18px !important;
  margin-bottom: 5px;
}
.cta img { width: 70px; }
img.go-next {
  width: 55px;
  cursor: pointer;
  margin-bottom: 5px; /* you can adjust the CTA vertical position changing this value */
  -webkit-transition: margin-bottom 0.2s ease-in-out;
  -moz-transition: margin-bottom 0.2s ease-in-out;
  -o-transition: margin-bottom 0.2s ease-in-out;
  transition: margin-bottom 0.2s ease-in-out;
}

/*  Formatting for rest of the pages / sections  */
.section { text-align: center;/*padding-top: 15px;*/ }
.section h1, .section h2, .section p, .section img {
  position: relative;
  font-size: 25px;
  z-index: 6;
}
.section h2 {
  max-width: 550px;
  font-size: 45px;
  margin: 0px auto 5px auto;
  padding: 0 15px; /* top: 70px;  -  used only if there's a top/header */
  font-weight: normal;
  -webkit-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  -moz-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
}
.section p {
  max-width: 660px;
  line-height: 30px;
  margin: 0px auto 15px auto;
  padding: 0 15px; /*   -  used only if there's a top/header */
  -webkit-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  -moz-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
}
.slide {
  position: relative;
  z-index: 9;
}
/*  questions formatting  */
.questions { text-align: center; }
.questions ul {
  position: relative;
  z-index: 7;
  list-style: none;
  font-size: 30px;
  max-width: 550px;
  margin: 0 auto; /* you can adjust the Alternative Buttons vertical position changing this value */
}
.questions ul li {
  font-size: 25px;
  background-color: #388E32;
  margin-bottom: 10px;
  padding: 10px 0;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  -moz-text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
  text-shadow: 1px 1px 1px rgba(126, 127, 127, 1);
}
.questions ul li:hover {
  background-color: #50C548;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

/*  Answers */
.answer-container.correct {
  background-color: #6dac35;
  height: 100%;
}
.answer-container.incorrect {
  background-color: #cf3939;
  height: 100%;
}
.correct .answer p, .incorrect .answer p {
  top: 0;
  max-width: 650px;
}
.incorrect .answer img, .correct .answer img {
  width: 320px;
  margin-top: 15px;
}

/*buttons*/
.cta.btn-answer {
  margin: 0;
  position: relative;
}
  .cta.btn-answer img {
    width: 55px;
    margin: 0;
  }

/*...END Desktop...*/

/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  .mq-desktop { display: none; }
  .mq-tablet { display: block; }
  .mq-mobile { display: none; }

  #top { top: -375px; }
  #top #logo img { width: 120px; }
  .incorrect .answer img, .correct .answer img {
    width: 220px;
  }

  /*text*/
  .section h1, .section h2 { font-size: 30px; }
  .mq-tablet p {
    font-size: 20px;
    max-width: 550px;
    line-height: 25px;
  }
  .questions ul li, .correct .answer p, .incorrect .answer p { font-size: 20px; }
  .sceneDescription-copy {
    font-size: 14px;
    margin:20px 0 0 -280px;
  }


}
/*...END Tablet...*/

/*...START mobile...*/
@media screen and (max-width: 568px) { 
  .mq-desktop { display: none; }
  .mq-tablet { display: none; }
  .mq-mobile { display: block; }

  .animation-area {
    position: absolute;
    height: 100%;
    top: 0;
  }

  #top { top: -175px; }
  
  #top #logo img { 
    margin-top: 7px;
    width: 100px;
  }

  /*text*/
  #tandc h2, #tandc p { font-size: 7px; }
  .section h1, .section h2 { font-size: 20px !important; }
  .section p, .section li {
    font-size: 15px !important;
    line-height: 20px;
  }
  .copy p {
    max-width: 350px;
  }
  .sceneDescription-copy {
    font-size: 11px;
    margin:20px 0 0 -120px;
  }
  .cta .correct, .cta .incorrect { margin-top: inherit; }
  .cta ul li { margin: 5px 20px; }
  .linkButton { margin-top: 28px; }
}
/*...END Mobile...*/

/* END General */
/*..............................................................................*/



/* START Intro Page */
/*..............................................................................*/
/*...START Desktop...*/
/*.bg.*/
#intro { background: url(../images/bg/intro/ground-tile.gif); }
.intro-bg-hTile {
  width: 100%;
  height: 487px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/intro/h-tile.png) bottom repeat-x;
  border-bottom: 3px solid #435d30;
}
.intro-bg-center {
  width: 100%;
  height: 487px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/intro/center.png) top center no-repeat;
}
/*.text.*/
.intro-title {
  width: 641px;
  height: 284px;
  margin: 0 auto;
  background: url(../images/murphys-title);
  position: relative;
  top: 30px;
}
.intro .copy { 
  margin-top:65px;
}

/*button*/
.intro .questions ul li {
  background-color:#fff;
  color: #388E32
}
/*.characters.*/
.intro-char {
  width: 534px;
  height: 235px;
  margin: 0 auto;
  background: url(../images/animations/intro.png);
  position: relative;
  top: 50px;
  background-size: 800% 100%; /*  first value: number of sprites * 100  */
}
/*.elements.*/
.intro .cta.questions {
  position: relative;
  margin-top:25px;
}
.intro .questions ul li:hover {
  background-color:#50C548;
  color: #fff;
}
/*...END Desktop...*/

/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  /*.bg.*/
  .intro-bg-hTile {
    width: 100%;
    height: 380px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px solid #435d30;
  }
  .intro-bg-center {
    background-size: 700px 355px;
    width: 700px;
    height: 355px;
    margin: 0 auto;
    text-align: center;
  }
  /*.text.*/
  .intro-title {
    background-size: 100% 100%;
    width: 500px;
    height: 198px;
    margin: 0 auto;
    position: relative;
  }

  /*.characters.*/
  .intro-char {
    width: 450px;
    height: 198px;
    margin: 0 auto;
    position: relative;
    background-size: 800% 100%; /*  first value: number of sprites * 100  */
  }
}

/*...END Tablet...*/
/*...START Mobile...*/
@media screen and (max-width: 568px) { /*wider max width for smoother transition on desktop*/
  /*bg*/
  .intro-bg-hTile {
    width: 100%;
    height: 178px;
    background-size: 129px 200px;
    border-bottom: 3px solid #435d30;
    margin: 0 auto;
    text-align: center;
  }
  .intro-bg-center {
    background-size: 100% 100%;
    width: 320px;
    height: 178px;
    margin: 0 auto;
    text-align: center;
  }
  /*.text.*/
  .intro-title {
    background-size: 100% 100%;
    width: 300px;
    height: 119px;
    margin: 0 auto;
    position: relative;
    top: 30px;
  }
  .intro .copy p {  }
  .intro .cta.questions { margin-top:15px; }

  /*characters*/
  .intro-char {
    width: 200px;
    height: 88px;
    margin: 0 auto;
    position: relative;
    top: 40px;
    background-size: 800% 100%; /*  first value: number of sprites * 100  */
  }
}
/*...END Mobile...*/

/* END Intro Page */
/*..............................................................................*/



/*  Scene 1 Page  */
/*..............................................................................*/
/*...START Desktop...*/
/*.bg.*/
.scene1-bg-hTile {
  width: 100%;
  height: 360px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/scene1/h-tile.png) bottom repeat-x;
  border-bottom: 3px solid #e7c454;
}
.scene1-bg-center {
  width: 100%;
  height: 487px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/scene1/center.png) top center no-repeat;
  position: relative;
  top: 30px;
}
/*.text.*/
.scene1 .copy {
  position: relative;
  margin-top: 240px;
}
/*.characters.*/
.scene1-char {
  background-size: 800% 100%;
  width: 590px;
  height: 520px;
  margin: 0 auto;
  background: url(../images/animations/scene1.png);
  position: relative;
  top: -37px;
}
/*.elements.*/
#scene1 .cta.questions {
  position: relative;
  top: 100px;
}
/*...END Desktop...*/
/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  /*.bg.*/
  .scene1-bg-hTile {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #e7c454;
  }
  .scene1-bg-center {
    background-size: 500px 321px;
    width: 500px;
    height: 321px;
    margin: 0 auto;
    text-align: center;
    top:20px;
  }
  /*.text.*/
  .scene1 .copy {
    position: relative;
    margin-top: 190px;
  }
  /*.characters.*/
  .scene1-char {
    background-size: 800% 100%;
    width: 520px;
    height: 458px;
    top: -50px;
  }
}
/*...END Tablet...*/

/*...START Mobile...*/
@media screen and (max-width: 568px) { /*wider max width for smoother transition on desktop*/
  /* general settings */
  /*bg*/
  .scene1-bg-hTile {
    width: 100%;
    height: 135px;
    background-size: 129px 200px;
    border-bottom: 2px solid #e7c454;
    margin: 0 auto;
    text-align: center;
  }
  .scene1-bg-center {
    background-size: 100% 100%;
    width: 200px;
    height: 128px;
    margin: 0 auto;
    text-align: center;
    top:20px;
  }
  /*.text.*/
  .scene1 .copy {
    position: relative;
    margin-top: 93px;
  }
  /*characters*/
  .scene1-char {
    background-size: 800% 100%;
    width: 200px;
    height: 176px;
    top: -20px;
  }
}
/*...END Mobile...*/

/* END Scene1 Page */
/*..............................................................................*/



/*  Scene 2 Page Animation  */
/*..............................................................................*/
/*...START Desktop...*/
/*.bg.*/
.scene2-bg-hTile {
  width: 100%;
  height: 434px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/scene2/h-tile.jpg) bottom repeat-x;
}
.scene2-bg-center {
  width: 100%;
  height: 422px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/scene2/center.png) top center no-repeat;
  position: relative;
  top: 20px;
}
/*.text.*/
.scene2 .copy {
    position: relative;
    margin-top: 200px;
}
  .scene2 .copy p {
    max-width:600px;
  }
/*.characters.*/
.scene2-char {
  background-size: 800% 100%;
  width: 492px;
  height: 345px;
  margin: 0 auto;
  background: url(../images/animations/scene2.png);
  position: relative;
  top: 250px;
}
/*.elements.*/
#scene2 .cta.questions {
  position: relative;
  top: 100px;
}
/*...END Desktop...*/

/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  /*.bg.*/
  .scene2-bg-hTile {
    background-size: 1000px 100%;
    width: 100% ;
    height: 348px;
    margin: 0 auto;
    text-align: center;
    top: 0;
  }
  .scene2-bg-center {
    background-size: 100% 100%;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    top: 10px;
  }
  /*.text.*/
  .scene2 .copy {
    position: relative;
    margin-top: 120px;
  }
  /*.characters.*/
  .scene2-char {
    background-size: 800% 100%;
    width: 350px;
    height: 245px;
    top: 200px;
  }
}
/*...END Tablet...*/

/*...START Mobile...*/
@media screen and (max-width: 568px) { /*wider max width for smoother transition on desktop*/
  /* general settings */
  /*bg*/
  .scene2-bg-hTile {
    /*background-position: 0px -20px;*/
    background-size: 568px 198px;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
  }
  .scene2-bg-center {
    background-size: 200px 100%;
    width: 200px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    top:15px;
  }
  /*.text.*/
  .scene2 .copy {
    position: relative;
    margin-top: 80px;
  }
  /*characters*/
  .scene2-char {
    background-size: 800% 100%;
    width: 150px;
    height: 105px;
    top: 100px;
  }
}
/*...END Mobile...*/
/* END Scene 2 Page */
/*..............................................................................*/



/*  Scene 3 Page Animation  */
/*..............................................................................*/
/*...START Desktop...*/
/*.bg.*/
#scene3 { background: url(../images/bg/scene3/ground-tile.jpg); }
.scene3-bg-hTile {
  width: 100%;
  height: 334px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/scene3/h-tile.jpg) bottom repeat-x;
}
.scene3-bg-center {
  width: 597px;
  height: 334px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/scene3/center.jpg) top center no-repeat;
  position: relative;
  /*top: -52px;*/
  top: 0;
}
/*.text.*/
.scene3-title {
  width: 703px;
  height: 185px;
  margin: 0 auto;
  background: url(../images/text/murphys-title.png);
  position: relative;
  top: 50px;
}
.scene3 .copy {
  position: relative;
  top: 195px;
}
/*.characters.*/
.scene3-char {
  background-size: 900% 100%;
  width: 578px;
  height: 276px;
  margin: 0 auto;
  background: url(../images/animations/scene3.png);
  position: relative;
  top: 230px;
}
/*.elements.*/
#scene3 .cta.questions {
  position: relative;
  top: 100px;
}
/*...END Desktop...*/

/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  /*.bg.*/
  .scene3-bg-hTile {
    background-size: 660px 280px;
    width: 100%;
    height: 280px;
    margin: 0 auto;
    text-align: center;
    top: 0;
  }
  .scene3-bg-center {
    background-size: 497px 280px;
    width: 100%;
    height: 280px;
    margin: 0 auto;
    text-align: center;
    /*top: -47px;*/
    top:0;
  }
  /*.text.*/
  .scene3 .copy {
    top: 150px;
  }
  /*.characters.*/
  .scene3-char {
  background-size: 900% 100%;
  width: 450px;
  height: 215px;
  position: relative;
  top: 200px;
  }
}
/*...END Tablet...*/

/*...START Mobile...*/
@media screen and (max-width: 568px) { /*wider max width for smoother transition on desktop*/
  /* general settings */
  .mq-desktop { display: none; }
  .mq-tablet { display: none; }
  .mq-mobile { display: block; }
  /*bg*/
  .scene3-bg-hTile {
    /*background-position: 0px -20px;*/
    background-size: 353px 150px;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
  }
  .scene3-bg-center {
    background-size: 276px 150px;
    width: 276px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    /*top: -43px;*/
    top: 0;
  }
  /*.text.*/

  .scene3 .copy {
    top: 60px;
  }
  /*characters*/
  .scene3-char {
    background-size: 900% 100%;
    width: 220px;
    height: 105px;
    top: 100px;
  }
}
/*...END Mobile...*/

/* END Scene3 Page */
/*..............................................................................*/



/*  Question 1 page  */
/*..............................................................................*/
/*...START Desktop...*/
/*.bg.*/
#question1 {
  background: #9ac500;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlhYzUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2Y5NjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #9ac500 0%, #d7f961 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9ac500), color-stop(100%, #d7f961));
  background: -webkit-linear-gradient(top, #9ac500 0%, #d7f961 100%);
  background: -o-linear-gradient(top, #9ac500 0%, #d7f961 100%);
  background: -ms-linear-gradient(top, #9ac500 0%, #d7f961 100%);
  background: linear-gradient(to bottom, #9ac500 0%, #d7f961 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac500', endColorstr='#d7f961', GradientType=0 );
}
.question1-bg-container { max-height: 500px !important; }
.question1-bg-swirl {
  width: 791px;
  height: 758px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/q1/swirl.png) top center no-repeat;
  position: relative;
  top: -850px;
  z-index: 0;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
.question1-bg-hotdogs {
  width: 398px;
  height: 449px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/q1/hotdogs.png) top center no-repeat;
  position: relative;
  top: -250px;
  z-index: 1;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/*.characters.*/
.question1-char {
  background-size: 800% 100%;
  width: 490px;
  height: 290px;
  margin: 0 auto;
  background: url(../images/animations/q1.png);
  position: relative;
  top: 100px;
  z-index: 2;
  -webkit-transform: translate3d(0,0,0); 
}

.question1 .copy {
  margin-top: 40px;
}
  .question1 .copy p {
    max-width:640px;
  }

/*...END Desktop...*/

/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
/*.bg.*/
.question1-bg-container { height: 450px; }
  .question1-bg-swirl {
    background-size: 600px 575px;
    width: 100%;
    height: 575px;
    margin: 0 auto;
    text-align: center;
    top: -620px;
  }
  .question1-bg-hotdogs {
    background-size: 300px 338px;
    width: 100%;
    height: 338px;
    margin: 0 auto;
    text-align: center;
    top: -140px;
  }

  /*.characters.*/
  .question1-char {
    background-size: 800% 100%;
    width: 382px;
    height: 226px;
    top: 100px;
  }

  .question1 .copy {
    margin-top: 20px;
  }

}
/*...END Tablet...*/

/*...START Mobile...*/
@media only screen and (max-width : 568px) {
/*.bg.*/
.question1-bg-container { height: 250px; }
  .question1-bg-swirl {
    background-size: 365px 350px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    top: -300px;
  }
  .question1-bg-hotdogs {
    background-size: 206px 183px;
    width: 100%;
    height: 183px;
    margin: 0 auto;
    text-align: center;
    top: -50px;
  }

  /*.characters.*/
  .question1-char {
    background-size: 800% 100%;
    width: 200px;
    height: 118px;
    top: 100px;
  }
  /*text*/
  .question1 .copy {
      position: relative;
      margin-top: 50px;
  }

}
/*...END Mobile...*/

/* END Question 1 Page */
/*..............................................................................*/


/*  Scene 4 page   */
/*..............................................................................*/
/*...START Desktop...*/
/*.bg.*/
#scene4 { background: url(../images/bg/scene4/ground-tile.jpg); }
.scene4-bg-hTile {
  background: url(../images/bg/scene4/h-tile.jpg) top repeat-x;
  height: 517px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.scene4-bg-center {
  background: url(../images/bg/scene4/center.jpg) top center no-repeat;
  height: 517px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -61px;
  width: 603px;
}
/*.characters.*/
.scene4-char {
  background: url(../images/animations/scene4.png);
  background-size: 800% 100%;
  height: 352px;
  margin: 0 auto;
  position: relative;
  top: 160px;
  width: 521px;
  z-index: 2;
}
.scene4 .copy {
  margin-top: 10px;
}
  .scene4 .copy p {
    text-shadow: 1px 1px 1px #666;
  }
.scene4 .sceneDescription-copy {
    margin:20px 0 0 -450px;
}
/*...END Desktop...*/

/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  /*.bg.*/
  .scene4-bg-hTile {
    background-size: 400px 413px;
    width: 100%;
    height: 413px;
    margin: 0 auto;
    text-align: center;
  }
  .scene4-bg-center {
    background-size: 482px 413px;
    width: 100%;
    height: 413px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -53px;
  }
  .scene4-char {
    background-size: 800% 100%;
    height: 270px;
    top: 140px;
    width: 400px;
  }
  .scene4 .sceneDescription-copy {
    margin:20px 0 0 -400px;
  }
}
/*...END Tablet...*/

/*...START Mobile...*/
@media only screen and (max-width : 568px) {
  /*.bg.*/
  .scene4-bg-hTile {
    background-size: 200px 227px;
    width: 100%;
    height: 227px;
    margin: 0 auto;
    text-align: center;
  }
  .scene4-bg-center {
    background-size: 265px 227px;
    width: 100%;
    height: 227px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -47px;
  }
  .scene4-char {
    background-size: 800% 100%;
    width: 200px;
    height: 135px;
    top: 100px;
  }
  .scene4 .sceneDescription-copy {
    margin:20px 0 0 -190px;
  }
}
/*...END Mobile...*/

/* END Scene 4 page */
/*..............................................................................*/



/*  Question 2 page   */
/*..............................................................................*/

/*...START Desktop...*/
.question2 .scene4-bg-center {
  top:0;
}
.question2-char {
  background: url(../images/animations/q2.png);
  background-size: 800% 100%;
  height: 411px;
  margin: 0 auto;
  position: relative;
  top: 250px;
  width: 565px;
  z-index: 2;
}
.question2 .copy {
  margin-top: 165px;
}
/*...END Desktop...*/
/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  .question2-char {
    background-size: 800% 100%; 
    height: 327px;
    top: 200px;
    width: 450px;
  }
  .question2 .copy {
    margin-top: 125px;
  }
}

/*...END Tablet...*/

/*...START Mobile...*/
@media only screen and (max-width : 568px) {
  .question2-char {
    background-size: 800% 100%;
    height: 145px;
    top: 130px;
    width: 200px;
  }
  .question2 .copy {
    margin-top: 55px;
  }
}
/*...END Mobile...*/

/*  END Question 2 page   */
/*..............................................................................*/



/*  Question 3 page   */
/*..............................................................................*/

/*...START Desktop...*/
/*.bg.*/
#question3 { background: url(../images/bg/q3/ground-tile.jpg); }
.question3-bg-hTile {
  width: 100%;
  height: 517px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/q3/h-tile.jpg) top repeat-x;
}
.question3-bg-center {
  width: 603px;
  height: 517px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/q3/center.jpg) top center no-repeat;
  position: relative;
  top: 0px;
}
.question3-char {
    background: url(../images/animations/q3.png);
    background-size: 1400% 100%;
    width: 526px;
    height: 379px;
    top: 200px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
  }

.question3 .copy {
  margin-top: 95px;
}
  .question3 .copy p {
    max-width:600px;
  }

/*...END Desktop...*/

/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  /*.bg.*/
  .question3-bg-hTile {
    background-size: 450px 407px;
    width: 100%;
    height: 407px;
    margin: 0 auto;
    text-align: center;
  }
  .question3-bg-center {
    background-size: 475px 407px;
    width: 475px;
    height: 407px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 0px;
  }

  .question3-char {
    background-size: 1400% 100%;
    width: 400px;
    height: 288px;
    top: 170px;
  }
  .question3 .copy {
    margin-top: 60px;
  }
}
/*...END Tablet...*/

/*...START Mobile...*/
@media only screen and (max-width : 568px) {
  /*.bg.*/
  .question3-bg-hTile {
    background-size: 254px 230px;
    width: 100%;
    height: 230px;
    margin: 0 auto;
    text-align: center;
  }
  .question3-bg-center {
    background-size: 268px 230px;
    width: 268px;
    height: 230px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 0px;
  }
  .question3-char {
    background-size: 1400% 100%;
    width: 200px;
    height: 144px;
    top: 120px;
  }
  .question3 .copy {
    margin-top: 45px;
  }
}
/*...END Mobile...*/

/*  END Question 3 page   */
/*..............................................................................*/


/*..............................................................................*/
/*  Scene 5 page  */
/*..............................................................................*/
/*...START Desktop...*/
.scene5-bg-hTile {
  width: 100%;
  height: 245px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg/scene5/h-tile.jpg) top repeat-x;
}
.scene5-char {
    background: url(../images/animations/scene5.png);
    background-size: 800% 100%;
    width: 678px;
    height: 507px;
    top: -35px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}
.scene5 .copy {
    margin-top: 215px;
}
/*...END Desktop...*/

/*...START Tablet...*/
@media only screen and (max-width : 1024px) {
  /*.bg.*/
  .scene5-bg-hTile {
  background-size: 550px 198px;
  width: 100%;
  height: 198px;
  margin: 0 auto;
  text-align: center;
  }

  .scene5-char {
    background-size: 800% 100%;
    width: 500px;
    height: 374px;
    top: -15px;
  }
  .scene5 .copy {
    margin-top: 160px;
  }
  .scene5 .copy p { max-width: 570px; }
}
/*...END Tablet...*/

/*...START Mobile...*/
@media only screen and (max-width : 568px) {
  /*.bg.*/
  .scene5-bg-hTile {
  background-size: 333px 120px;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  }

  .scene5-char {
    background-size: 800% 100%;
    width: 200px;
    height: 150px;
    top: 30px;
  }
  .scene5 .copy {
    margin-top: 70px;
  }
}
/*...END Mobile...*/

/*  END Scene5 page   */
/*..............................................................................*/


/*  START Terms and Conditions */
/*..............................................................................*/
.btn-tandc {
  display: block !important;
  font-size: 12px;
  color: #fff;
  padding: 1px 20px;
  z-index: 18;
  position: absolute;
  bottom: 2px;
  right: 2px;
  cursor: pointer;
  font-size: 10px;
}
.btn-tandc.dark {
  color:#666;
}
#tandc {
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  bottom: 0;
  padding: 0 15px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 23;
}
#tandc div {
  max-width: 600px;
  margin: 0 auto;
}
#tandc h2 {
  margin: 20px auto 10px;
  max-width: 600px;
  text-align: left;
  opacity: 1;
  font-size: 13px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#tandc p, #tandc sup {
  margin: 15px auto;
  color: #fff;
  opacity: 1;
  font-size: 11px;
  max-width: 600px;
  text-align: left;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#tandc a {
  color: #fff;
  text-decoration: underline;
}
#close-tandc {
  text-decoration: none !important;
  padding: 5px 15px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  color: #000 !important;
}

/*  END T & C   */
/*..............................................................................*/


/*  START Form  */
/*..............................................................................*/
#form {
  display: block;
  width: 280px;
  /*margin: 10px 5px 0;*/
  margin: 0 auto;
  height: 210px;
  position: relative;
  /*z-index: 6;*/
  border: 0;
}
#form-wrap h2 { 
  font-size:33px ;
  max-width: 720px;
  margin-top: -10px; 
}
#form-wrap p {
  top: 0;
  max-width: 820px;
}
#form ul {
  list-style: none;
  margin-bottom: 20px;
}
#form span {
  font-size: 12px;
  padding-bottom: 10px;
  display: inline-block;
}
#form-wrap { padding-top: 20px; }
#form-wrap p span { font-style: italic; }
#form .required { text-align: right; }
#form-wrap p:nth-child(3) { margin-bottom: 3px; }



/*  Form Page Animation  */

#form-animation {
  background: url('../images/form-bg.jpg') top center no-repeat #4cb4bb;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}



/* Form Fields */

label.css-label {
  background-size: 30px 60px;
  background-image: url(../images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.css-label { text-align: left; }
.field {
  display: block;
  width: 270px;
  position: relative;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 2px 3px 4px;
  line-height: 16px;
  font-size: 12px;
}
.field label {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 0 3px 0 10px;
  font-size: 11px;
  color: #69a9ab !important;
  background: #e8e8e8;
  text-align: left;
}
.field input, .field select {
  border: none !important;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  font-size: 16px;
  background-color: #fff;
  color: #5f5f5f;
  box-sizing: border-box;
  -webkit-appearance: none;
}
li#check {
  font-size: 12px;
  margin: 7px 0 18px 0;
}
.field input { margin-top: 3px; }
.field select { color: #fff; }
/*
  Show label instead of placeholder
*/
.field.show-label {
  height: 40px;
  xborder-bottom-width: 0;
}
.field.show-label input, .field.show-label select { height: 28px }
.field.show-label input { margin-top: 0; }
.field.show-label label { max-height: 15px; }

/* Hide placeholder onfocus for safari */
.field.show-label input[placeholder]::-webkit-input-placeholder {
 opacity: 0;
}
/*
  Animations
*/
.field {
  transition-property: height, border-width;
  -webkit-transition-property: height, border-width;
  -moz-transition-property: height, border-width;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
}
.field input, .field select {
  transition: height 0.3s ease-in;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
}
.field label {
  transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in;
}
.field input[placeholder]::-webkit-input-placeholder {
 transition: opacity 0.3s ease-in;
 -webkit-transition: opacity 0.3s ease-in;
 -moz-transition: opacity 0.3s ease-in;
}
form.IE-8 { width: 600px; }
form.IE-8 .fname, .lname { width: 250px; }
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
  padding-left: 35px;
  height: 30px;
  display: inline-block;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 12px;
  vertical-align: top;
  cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk { background-position: 0 -30px; }
label.css-label {
  background-size: 30px 60px;
  background-image: url(../../images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.linkButton {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #388E32;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 40px 0 30px 0;
  padding: 15px 0;
  text-decoration: none;
  width: 280px;  

}
  .linkButton:hover { 
    background-color: #50C548;
    color: #fff;
   }
.disabled {
  cursor: not-allowed;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.disabled:hover { background-color: #388e32 !important; }
#send-value { display: none; }



/*...START Mobile...*/

/*Target Samsung devices*/
@media screen and (device-width: 360px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 3) {
  #form-wrap {
    height: 600px;
  }
}

@media (max-device-width: 1280px) and (orientation: landscape) and (min-resolution: 169dpi) { 
  #form-wrap {
    height: 1000px;
  }
}
/*...END Mobile...*/

/*  END Form   */
/*..............................................................................*/