/*................................................................................

Project: CAA-4234 | Meet The Murphys - TI Game for Q1
Loading Style
Date: 1/29/2015
CAA SCO - E-biz

................................................................................*/





/*..............................................................................*/
/*  Loading  */
/*..............................................................................*/
#fullpage { display: none; } /* it will show after load the images */
#loading {
	width: 100%;
	height: 100%;
	background-color: #ed6867;
	padding-top: 100px;
	text-align: center;
	position: fixed;
	z-index: 0;
}

#loading img {
	width: 50px;
	margin: 15px 0;
	z-index: 2;
}
#loading span {
	z-index: 2;
}
#loading p {
	width: 100%;
	margin: 0 auto;
	font-size: 20px !important;
}
.fakeloading { display: none; }



/*..............................................................................*/
/* 	T&C  */
/*..............................................................................*/ 
#tandc{ padding-top: 10px !important; }

#close-tandc{
	background-color:transparent;
	text-decoration: underline !important;
	color:#fff !important;
	border:none !important;
}



/*..............................................................................*/